<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sitti Patahuddin</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Sitti Patahuddin Personal Website" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="<%= BASE_URL %>apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= BASE_URL %>favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= BASE_URL %>favicon-16x16.png"
    />
    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest" />
    <link
      rel="mask-icon"
      href="<%= BASE_URL %>safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="google-site-verification"
      content="728HtSbU8h2VipkSW5wpZdY3juyEmw6hNmMtZdGfWNA"
    />
    <!-- facebook graph -->
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:title" content="Sitti Patahuddin" />
    <meta
      property="og:description"
      content="Sitti Patahuddin Personal Website"
    />
    <meta property="og:url" content="https://www.sittipatahuddin.com/" />
    <meta property="og:image" content="<%= BASE_URL %>og-image.png" />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but sitipad-blog doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131199722-1"
    ></script>
    <script async src="https://apis.google.com/js/client.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-131199722-1");
    </script>
  </body>
</html>
