<template>
  <div class="row">
    <template v-for="data in visitor">
      <div class="col-md-3 country-column text-white" :key="`country-.${data[1]}`">
        <country-flag :country='data[1]'/>
        <span style="padding-left: 10px;">{{ data[1] }}</span>
      </div>
      <div class="col-md-3 country-column text-white" :key="`count-.${data[1]}`">
        <span>{{ data[2] }}</span>
      </div>
    </template>
  </div>
</template>

<script>
import CountryFlag from 'vue-country-flag'
export default {
  name: 'Analytics',
  components: {
    CountryFlag
  },
  data: function(){
    return {
      show: false,
      visitor: []
    }
  },
  methods: {
    getVisitor(){
      var self = this;
      fetch('https://sittipatahuddin.com/api/')
        .then(function(response) {
          return response.json();
      })
        .then(function(json) {
          self.visitor = json.rows;
          self.show = true;
      });
    }    
  },
  created: function(){
    this.getVisitor();
    // document.getElementById('auth-button').addEventListener('click', self.authorize())
  }
}
</script>

<style scoped>
.row{
  border: 1px solid #533102;
}
.country-column{
  display: flex;
  align-items: center;
  justify-content: center;
  /* more style: */
  height: 50px;
}
</style>
