<template>
  <div>
    <!-- <button id="auth-button" @click="authorize()">Authorize</button> -->
    <table class="table text-white" v-if="show">
      <tr>
        <th>Country</th>        
        <td>Count</td>
      </tr>
      <tr v-for="data in visitor" :key="data[1]">
        <td>
          <div class="">
            <div>
              <country-flag :country='data[1]'/>
            </div>
            <div style="padding-left: 10px;">
              <span>{{ data[0] }}</span>
            </div>
          </div>
        </td>        
        <td style="vertical-align: middle">{{ data[2] }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import CountryFlag from 'vue-country-flag'
export default {
  name: 'Analytics_old',
  components: {
    CountryFlag
  },
  data: function(){
    return {
      clientID: '850016782597-s8r73udfgjmf3h1chdef2vdtp7e2ateb.apps.googleusercontent.com',
      scope: 'https://www.googleapis.com/auth/analytics.readonly',
      show: false,
      visitor: []
    }
  },
  methods: {
    getVisitor(){
      var self = this;
      fetch('https://sittipatahuddin.com/api/')
        .then(function(response) {
          return response.json();
      })
        .then(function(json) {
          self.visitor = json.rows;
          self.show = true;
      });
    },
    authorize(){
      var self = this;
      // Handles the authorization flow.
      // `immediate` should be false when invoked from the button click.
      var useImmdiate = event ? false : true;
      var authData = {
        client_id: self.clientID,
        scope: self.scope,
        immediate: useImmdiate
      };

      gapi.auth.authorize(authData, function(response) {
        var authButton = document.getElementById('auth-button');
        console.log(response);
        if (response.error) {
          authButton.hidden = false;
        }
        else {
          authButton.hidden = true;
          self.queryAccounts();
        }
      });
    },
    queryAccounts(){
      var self = this;
      // Load the Google Analytics client library.
      gapi.client.load('analytics', 'v3').then(function() {
        console.log('AAAAAAAAAAAA');
        // Get a list of all Google Analytics accounts for this user
        gapi.client.analytics.management.accounts.list().then(function(response){
          self.handleAccounts(response);
          console.log(response);
        });
      });
    },
    handleAccounts(response){
      var self = this;
      console.log(response);
      // Handles the response from the accounts list method.
      if (response.result.items && response.result.items.length) {
        // Get the first Google Analytics account.
        var firstAccountId = response.result.items[0].id;
        // Query for properties.
        self.queryProperties(firstAccountId);
      } else {
        console.log('No accounts found for this user.');
      }
    },
    queryProperties(accountId){
      var self = this;
      // Get a list of all the properties for the account.
      gapi.client.analytics.management.webproperties.list({'accountId': accountId}).then(function(response){
        self.handleProperties(response)
        console.log(response);
      })
      .then(null, function(err) {
        // Log any errors.
        console.log(err);
      });
    },
    handleProperties(response) {
      var self = this;
      console.log(response);
      // Handles the response from the webproperties list method.
      if (response.result.items && response.result.items.length) {
        // Get the first Google Analytics account
        var firstAccountId = response.result.items[0].accountId;
        // Get the first property ID
        var firstPropertyId = response.result.items[0].id;
        // Query for Views (Profiles).
        self.queryProfiles(firstAccountId, firstPropertyId);
      } else {
        console.log('No properties found for this user.');
      }
    },
    queryProfiles(accountId, propertyId) {
      var self = this;
      // Get a list of all Views (Profiles) for the first property
      // of the first Account.
      gapi.client.analytics.management.profiles.list({
        'accountId': accountId,
        'webPropertyId': propertyId
      })
      .then(function(response){
        console.log(response);
        self.handleProfiles(response);
      })
      .then(null, function(err) {
        // Log any errors.
        console.log(err);
      });
    },
    handleProfiles(response) {
      var self = this;
      console.log(response);
      // Handles the response from the profiles list method.
      if (response.result.items && response.result.items.length) {
        // Get the first View (Profile) ID.
        var firstProfileId = response.result.items[0].id;
        // Query the Core Reporting API.
        self.queryCoreReportingApi(firstProfileId);
      } else {
        console.log('No views (profiles) found for this user.');
      }
    },
    queryCoreReportingApi(profileId) {
      var self = this;
      // Query the Core Reporting API for the number sessions for
      // the past seven days.
      gapi.client.analytics.data.ga.get({
        'ids': 'ga:' + profileId,
        'start-date': '2018-10-01',
        'end-date': '2018-12-26',
        'metrics': 'ga:users',
        'dimensions': 'ga:country,ga:countryIsoCode'
      })
      .then(function(response) {
        self.visitor = response.result.rows
        // console.log(response);
        // var formattedJson = JSON.stringify(response.result, null, 2);
        // document.getElementById('query-output').value = formattedJson;
      })
      .then(null, function(err) {
        // Log any errors.
        console.log(err);
      });
    }
  },
  mounted: function(){
    this.getVisitor();
    // document.getElementById('auth-button').addEventListener('click', self.authorize())
  }
}
</script>

<style>

</style>
