<template>
  <div class="wrapper">
    <NavBar isSearchPage="0" />
    <div class="container" v-if="!loading">
      <div class="title-">
        <h3 class="pt-5 pb-3 title">{{ ceritaku.judul_ceritaku }}</h3>
        <p class="sub-title">
          Published At: {{ ceritaku.created_at }} Under:
          {{ ceritaku.category_ceritaku }}
        </p>
      </div>
      <div class="img-wrapper">
        <img :src="baseURI + ceritaku.thumbnail_ceritaku" class="img-banner" />
      </div>
      <div class="row">
        <div class="col-12 col-md-10">
          <div class="text-content">
            <div v-html="ceritaku.text_ceritaku"></div>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <div class="side-content">
            <div class="side-content-item">
              <p class="head">Category</p>
              <p class="body">{{ ceritaku.category_ceritaku }}</p>
            </div>
            <div class="side-content-item">
              <p class="head">Publised At</p>
              <p class="body">{{ ceritaku.created_at }}</p>
            </div>
            <div class="side-content-item">
              <p class="head">Share</p>
              <div class="body">
                <div class="icon-row">
                  <span class="icon facebook" title="Share on facebook">
                    <font-awesome-icon
                      :icon="['fab', 'facebook-f']"
                      :mask="['fas', 'circle']"
                      transform="shrink-6"
                      size="lg"
                    ></font-awesome-icon>
                    <a @click.prevent="openFBDialog">Share on Facebook</a>
                  </span>
                  <span class="icon twitter" title="Share on twitter">
                    <font-awesome-icon
                      :icon="['fab', 'twitter']"
                      :mask="['fas', 'circle']"
                      transform="shrink-6"
                      size="lg"
                    ></font-awesome-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "./NavBar.vue";
export default {
  name: "CeritaDetail",
  components: {
    NavBar,
  },
  data() {
    return {
      baseURI: process.env.VUE_APP_API_END_POINT + "/",
      loading: true,
      ceritaku: "",
    };
  },
  metaInfo() {
    return {
      title: this.ceritaku.judul_ceritaku,
      meta: [
        { property: "og:url", content: location.href },
        { property: "og:type", content: "Article" },
        { property: "og:title", content: this.ceritaku.judul_ceritaku },
        { property: "og:description", content: "Ceritaku" },
      ],
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData: function() {
      var self = this;
      let url = `/ceritaku/${this.$route.params.id}`;
      fetch(process.env.VUE_APP_API_END_POINT + url)
        .then(function(response) {
          return response.json();
        })
        .then(function(json) {
          self.ceritaku = json;
          self.loading = false;
        });
    },
    openFBDialog() {
      window.open(
        "https://www.facebook.com/sharer/sharer.php?u=" +
          encodeURIComponent(location.href),
        "facebook-share-dialog",
        "width=626,height=436"
      );
    },
  },
};
</script>

<style scoped>
.title {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  color: #cbd2de;
}
.sub-title {
  font-family: "Libre Baskerville";
  font-weight: normal;
  font-style: oblique;
  color: #cdd6dc;
}
.wrapper {
  background: #1d2328;
  min-height: 100%;
}
.img-banner {
  width: 100%;
  object-fit: cover;
  max-height: 450px;
}
.img-wrapper {
  width: 100%;
  text-align: center;
  margin: auto;
}
.text-content {
  margin-top: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-right: 20px;
  border-right: 1px solid #36424b;
}
.text-content {
  /* color: #eef0f2; */
  color: #8fa2af !important;
  text-align: justify;
  text-indent: 40px;
}
.side-content {
  text-align: left;
  margin-top: 20px;
  letter-spacing: 1px;
}
.side-content .side-content-item .head {
  color: #cdd6dc !important;
}
.side-content .side-content-item .body {
  color: #8fa2af !important;
}
.icon {
  padding-left: 5px;
  transition: color ease-in-out 0.2s;
}
.icon.facebook:hover {
  color: #3b5999;
}
.icon.twitter:hover {
  color: #55acee;
}
</style>
