<template>
  <div :style="containerStyle">
    <!-- desktop version -->
    <template>
      <div class="cerita-detail" style="height: 100%">
        <transition-group name="fade">
          <div
            key="page-1-bg"
            class="main-background background-page-1"
            v-show="page === 1"
          ></div>
          <div
            key="page-2-bg"
            class="main-background background-page-2"
            v-show="page === 2"
          ></div>
        </transition-group>

        <a href="/cerita" class="home-icon">
          <font-awesome-icon icon="home"></font-awesome-icon>
        </a>
        <div class="container" id="page-1-content" v-show="page == 1">
          <h1 class="title custom-font">
            Belajar dari Merenungi Perjalanan Kehidupan
          </h1>
          <div class="content">
            <p class="font-weight-bold">
              ”Berpikir sempit itu terbatas. Namanya juga sempit. Berpikir
              sempit bisa membatasi kita melihat peluang dan bahkan bisa
              membatasi orang lain atau suatu sistem menjadi maju. Tapi,
              sayangnya berpikir sempit itu baru kita sadari ketika kita
              mengalami pikiran yang lebih luas pada hal yang sama. Jadi mari
              berusaha meluaskan pikiran kita. Dengan cara apa? Yaitu dengan
              belajar. Belajar dapat dilakukan dimana saja dan kapan saja.
              Belajar tidak harus terjadi di institusi mahal. Belajar tak harus
              terjadi dari seorang pakar yang bertitel professor. Belajar dapat
              terjadi dari merenungi dan memaknai satu kejadian sederhana”.
            </p>
            <p>
              Angin musim panas berhembus lembut menghangatkan suasana taman
              luas dan artistik, Commonwealth Park. Aku menatap bunga-bunga
              tulip yang mulai mekar Bunga-bunga ini ditanam membentuk pola
              tertentu yang bisa dilihat dari atas bianglala (ferris wheel)
              tempat Aku saat ini. Hatiku dipenuhi dengan rasa syukur
            </p>
            <p>
              Melihat dua orang anak berpelukan dengan orang tuanya,
              mengingatkanku pada kedua orang tuaku. Jarak antara aku dan orang
              tuaku memang jauh, bahkan berbeda benua tapi aku selalu menelpon
              mereka di sela-sela kesibukan mengajar, meneliti ditambah
              aktivitas sebagai Ibu rumah tangga. Aku pun kembali mengingat
              cerita Ibu dan Ayah.
            </p>
            <p
              class="custom-font footer-navigation "
              @click="$emit('on-next-page')"
            >
              Selanjutnya
              <font-awesome-icon icon="chevron-right"></font-awesome-icon>
            </p>
          </div>
        </div>

        <div class="" id="page-2-content" v-show="page === 2">
          <div class="container">
            <h1 class="title custom-font">
              Belajar dari Merenungi Perjalanan Kehidupan
            </h1>
            <div class="content ">
              <p class="font-weight-bold">
                Empat puluh tahun yang lalu, Ibu mengandungku dengan bahagia,
                walaupun ada perasaan malu karena jarak usia kakak-kakakku
                sangat dekat. Waktu itu Ayahku tidak mengenal konsep KB
                (Keluarga Berencana) sehingga jarak usia kami berdekatan. Ayah
                berprinsip “Banyak anak banyak rezki”. Saat aku dalam kandungan,
                Ayah bertugas sebagai guru di Pulau Pandangan Pangkep, salah
                satu pulau yang ada di Kabupaten Pangkajene dan Kepulauan.
                Sebuah daerah terpencil yang minim infrastruktur. Sebagai guru
                yang dicintai oleh masyarakat, keluarga kami selalu mendapat
                ikan segar dari masyarakat sekitar. Karena itu, kata Ibu, sejak
                dalam kandungan, aku banyak mendapatkan asupan ikan laut dan
                mendapatkan ASI ekslusif walaupun gaji Ayah sebagai guru sangat
                rendah.
              </p>
              <p>
                Rumah sakit Pangkajene adalah tempat aku dilahirkan setelah
                banyak drama yang keluargaku alami. Kabupaten Pangkajene dan
                Kepulauan (dahulu bernama Pangkajene Kepulauan, biasa disingkat
                Pangkep) adalah salah satu kabupaten di Provinsi Sulawesi
                Selatan, Indonesia. Ibukotanya adalah Pangkajene. Berdasarkan
                analisis Bakosurtanal (Badan Koordinasi Survei dan Pemetaan
                Nasional), luas wilayah Kabupaten Pangkep adalah 12.362,73 km²
                dan sekitar 93% dari wilayah ini merupakan wilayah laut.
              </p>
              <p>
                Dari cerita Ibuku saat aku menelponnya kemarin, untuk
                melahirkanku, keluargaku harus berjuang naik kapal layar hingga
                hampir dua malam di laut, karena saat itu perahu atau kapal laut
                belum menggunakan mesin. Ayah juga menambahkan bahwa saya dan
                keluarga termasuk orang yang sangat beruntung karena masih
                sempat hidup. Rupanya, saat aku masih bayi, kami sekeluarga
                hampir tenggelam. Saat itu, air sudah masuk ke perahu layar kami
                karena kapal kami bocor. Beruntung sekali kapal layar kami masih
                bisa mencapai sebuah pulau kecil. Bisa terbayangkan betapa
                menegangkan situasi saat itu. Tapi terbayang juga, pasti Ayah
                dan Ibu terus berdoa pada Allah memohon keselamatan.
              </p>
              <div class="d-flex justify-content-between">
                <p
                  class="custom-font footer-navigation "
                  @click="$emit('on-prev-page')"
                >
                  <font-awesome-icon icon="chevron-left"></font-awesome-icon>
                  Kembali
                </p>
                <p class="custom-font footer-navigation ">
                  Bersambung...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "CeritaMerenungiKehidupanDesktop",
  props: {
    page: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      containerStyle: {
        overflow: "hidden",
        height: "100%",
      },
    };
  },
  mounted() {
    this.containerStyle.overflow = "auto";
    this.containerStyle.height = "100%";
  },
  methods: {
    openFBDialog() {
      window.open(
        "https://www.facebook.com/sharer/sharer.php?u=" +
          encodeURIComponent(location.href),
        "facebook-share-dialog",
        "width=626,height=436"
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.home-icon {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 10px;
  position: fixed;
  left: 10px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bg-wrap {
  position: relative;
  height: 100vh;
}
.custom-font {
  font-family: "Boogaloo", cursive;
}

.main-background {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat left center fixed;
  background-size: cover;
  z-index: -10;
  &.background-page-1 {
    background-image: url("~@/assets/img/cerita/Cerita_01_1.jpg");
  }
  &.background-page-2 {
    background-image: url("~@/assets/img/cerita/Belajar-dari-Merenungi-Perjalanan-Kehidupan_Page_2.jpg");
  }
}

.cerita-detail {
  width: 100%;
  height: 100vh;
  position: relative;
  align-items: start;

  > #page-1-content {
    margin-left: 0;
    margin-right: 20%;
    border-radius: 5%;
    padding: 15px;
    padding: 40px 50px;
    padding-bottom: 0px;
    > .title {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    > .content {
      font-size: 18px;
      text-align: justify;
      text-indent: 30px;
      font-size: 24px;
    }
  }

  > #page-2-content {
    border-radius: 5%;
    padding: 15px;
    padding: 40px 50px;
    padding-bottom: 0px;
    height: 100vh;
    overflow-y: scroll;
    .container {
      margin-left: 0;
      margin-right: 20%;
    }
    .title {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .content {
      font-size: 18px;
      text-align: justify;
      text-indent: 30px;
      font-size: 24px;
    }
  }
}
.footer-navigation {
  font-size: 20px;
  text-align: right;
  cursor: pointer;
  font-size: 24px;
  &:hover {
    text-decoration: underline;
  }
}
</style>
