<template>
  <div>
    <!-- desktop version -->
    <template>
      <div class="cerita-detail desktop">
        <transition-group name="fade">
          <div
            key="page-1-bg"
            class="main-background background-page-1"
            v-show="page === 1"
          ></div>
          <div
            key="page-2-bg"
            class="main-background background-page-2"
            v-show="page === 2"
          ></div>
        </transition-group>

        <a href="/cerita" class="home-icon desktop">
          <font-awesome-icon icon="home"></font-awesome-icon>
        </a>
        <div class="container  desktop" id="page-1-content" v-show="page === 1">
          <h1 class="title custom-font">Berpikir sempit (narrow-minded )</h1>
          <div class="content desktop">
            <p class="font-weight-bold">
              Kawan, Kita pasti pernah mengalami pemikiran sempit. Berpikir
              sempit tentang satu hal, baru dapat disadari ketika pikiran kita
              lebih luas dalam hal tersebut. Bahkan pikiran yang kita anggap
              luas saat ini boleh jadi kita pandang sempit di masa mendatang.
              Siapa yang tahu? Bukankah hidup ini dinamis. Cara pandang dan
              pikiran kita terus berubah sejalan dengan perubahan pengetahuan,
              pengalaman, serta lingkungan kita.
            </p>
            <p>
              Dulu saat aku studi S1 di Universitas Negeri Makassar (UNM), jika
              orang- orang bertanya kepadaku perihal cita-cita. Aku pasti
              menjawab “Aku ingin menjadi guru di desa terpencil”. Kalimat itu
              menjadi motivasi tersendiri supaya aku rajin belajar. Pikiranku
              berubah saat kakak pertama menjadi seorang dosen, disamping beliau
              mengajar, beliau juga punya banyak waktu untuk mengurus
              keluarganya. Jadi pikiran sempit yang aku alami saat itu bahwa
              pekerjaan apa pun baik itu jadi guru ataupun dosen, hanya sebatas
              demi keluarga.
            </p>
            <p>
              Menjelang penyelesaian studi S2 di IKIP Surabaya, seorang
              Professor memberiku ide untuk melanjutkan studi S3 dan spontan aku
              menolak ide tersebut dengan alasan aku adalah seorang wanita, aku
              ingin menjadi ibu dan istri yang baik, aku takut menjadi wanita
              sesibuk seperti professor tersebut. Apa reaksi beliau atas
              jawabanku? Beliau mengatakan bahwa aku bisa saja jadi wanita yang
              banyak di rumah, tapi juga mampu mengatur pekerjaan besar di luar
              rumah. Saat itu, ide tersebut tidak bisa aku pahami. Aku meyakini
              sepenuhnya bahwa seorang wanita sebaiknya lebih banyak di rumah.
              Ibuku adalah orang yang mendedikasikan waktu sepenuhnya untuk
              suami dan anaknya. Aku berpikir bahwa pekerjaan rumah tangga butuh
              waktu, mana mungkin aku bisa studi S3? Mustahil! Lagi-lagi
              pikiranku sempit, terbatas, hanya memikirkan kepentingan diri atau
              kelompok kecil dan memikirkan bahwa peranku sangatlah terbatas.
            </p>
            <p
              class="custom-font footer-navigation desktop"
              @click="$emit('on-next-page')"
            >
              Selanjutnya
              <font-awesome-icon icon="chevron-right"></font-awesome-icon>
            </p>
          </div>
        </div>
        <div class="container  desktop" id="page-2-content" v-show="page === 2">
          <h1 class="title custom-font">Berpikir sempit (narrow-minded )</h1>
          <div class="content desktop">
            <p class="font-weight-bold">
              Setelah studi S2ku selesai, aku mempunyai satu target yang harus
              aku capai, yaitu pulang kampung. Aku ingin mengabdikan diri di
              tanah kelahiran yaitu Makassar. Aku pun ingin melamar menjadi
              dosen di kampus tempat aku belajar menyelesaikan S1 ku yaitu UNM.
              Aku meminta rekomendasi seorang professor Pendidikan Matematika
              UNM, namun beliau hanya mau memberikan rekomendasi jika aku
              melamar menjadi dosen di Jawa, karena bagi beliau jika saya
              bekerja di Jawa, saya bisa lebih berkembang ketimbang berada di
              UNM. Jelas Aku menolak dengan tegas sarannya, aku tetap ingin
              balik ke Makassar. Bagiku ”Ngapain aku membuat pintar orang Jawa
              sedangkan Jawa sudah maju. Aku mau mengabdikan diri di Sulawesi
              Selatan.”
            </p>
            <p>
              Alhasil, lamaranku ke UNM tak mendapat respon yang berarti dan aku
              tidak lolos. “Terpaksa” dengan berat hati aku pun melamar ke UNESA
              dan aku lulus jadi dosen di sana. Untungnya sejak aku menjadi
              seorang dosen, aku tak pernah rasis. Aku mencintai pekerjaan,
              institusi, dan mahasiswaku yang seratur persen orang Jawa. Aku
              mendedikasikan waktuku untuk institusi. Aku tak pernah sekalipun
              menjadi tenaga honorer di luar. Tak jarang, aku harus kerja
              lembur, bekerja hingga malam demi tanggung jawab pekerjaan.
              Sesekali mahasiswaku datang ke rumah untuk belajar bersama bahkan
              bermalam. Sesekali aku membawa kedua anakku yang masih bayi untuk
              lembur di kantor. Hal yang menarik adalah, walaupun aku tidak
              menjadi dosen di UNM aku bisa berbuat banyak untuk UNM, salah
              satunya memfasilitasi penyediaan sumber-sumber belajar untuk UNM
              dari Jawa. Bahkan rumah kami menjadi tempat mampir bagi keluarga
              atau kawan dari Sulawesi. Dan kami sering menjadi tempat
              konsultasi bagi keluarga atau kawan yang mau studi lanjut di Jawa.
              Pikiran sempitku saat itu bahwa aku harus di tempat untuk bisa
              mengabdikan ilmu ternyata tidak tepat.
            </p>
            <div class="d-flex justify-content-between">
              <p
                class="custom-font footer-navigation desktop"
                @click="$emit('on-prev-page')"
              >
                <font-awesome-icon icon="chevron-left"></font-awesome-icon>
                Kembali
              </p>
              <p class="custom-font footer-navigation ">
                Bersambung...
              </p>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "CeritaBerpikirSempitDesktop",
  props: {
    page: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Boogaloo&display=swap");
.home-icon {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 10px;
  &.desktop {
    position: fixed;
    left: 10px;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bg-wrap {
  position: relative;
  height: 100vh;
}
.custom-font {
  font-family: "Boogaloo", cursive;
}
.main-background {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat left center fixed;
  background-size: cover;
  z-index: -10;
  &.background-page-1 {
    background-image: url("~@/assets/img/cerita/Cerita_02_1.jpg");
  }
  &.background-page-2 {
    background-image: url("~@/assets/img/cerita/Berpikir-Sempit-(Narrow-Minded)_2.jpg");
  }
}
.cerita-detail {
  width: 100%;
  height: 100vh;
  position: relative;
  align-items: center;
  // background: rgba($color: #ffffff, $alpha: 0.6);

  > #page-1-content {
    margin-right: 0;
    border-radius: 5%;
    padding: 15px;
    padding: 40px 50px;
    &.desktop {
      height: 100vh;
      overflow-y: scroll;
    }
    > .title {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    > .content {
      text-align: justify;
      text-indent: 30px;
      font-size: 24px;
    }
  }
  > #page-2-content {
    margin-right: 0;
    border-radius: 5%;
    padding: 15px;
    padding: 40px 50px;
    .container {
      margin-left: 0;
    }
    &.desktop {
      height: 100vh;
      overflow-y: scroll;
    }
    .title {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .content {
      text-align: justify;
      text-indent: 30px;
      font-size: 24px;
    }
  }
}
.footer-navigation {
  font-size: 20px;
  text-align: right;
  cursor: pointer;
  &.desktop {
    font-size: 24px;
  }
  &:hover {
    text-decoration: underline;
  }
}
</style>
