<template>
  <div id="ceritaku" class="section-wrap" :class="dekstopHeight">
    <div
      class
      data-aos="fade-up"
      data-aos-id="ceritaku"
      data-aos-once="true"
      style="width: 100%;"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-md-6 stack-image-2 align-self-top"
            :style="ceritaku.imgWrap"
          >
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Ceritaku"
              :class="{ hide: ceritaku.isHide }"
              src="@/assets/img/ceritaku_cl.png"
            />
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Ceritaku"
              :class="{ show: ceritaku.isShow }"
              src="@/assets/img/ceritaku_bw.png"
            />
          </div>
          <div class="col-12 col-md-6 align-self-center" :style="timer">
            <h3
              class="white-text section-header"
              data-aos="fade-up"
              :data-aos-delay="ceritakuHeaderTime"
              data-aos-once="true"
            >
              <span>ceritaku</span>
            </h3>
            <div
              class="white-text row text-justify"
              :class="{
                'section-body-2': !isMobile,
                'section-body-2-mobile': isMobile,
              }"
              data-aos="fade-up"
              :data-aos-delay="ceritakuContentTime"
              data-aos-once="true"
            >
              <div class="paragraph-content">
                <template v-for="cerita in ceritaku.content">
                  <div class="media py-2" :key="cerita.id_ceritaku">
                    <img
                      :src="baseURI + cerita.thumbnail_ceritaku_small"
                      class="mr-3 media-img"
                      alt="ceritaku image"
                    />
                    <div class="media-body">
                      <a
                        class="mt-0"
                        :href="
                          '/cerita/detail/' +
                            cerita.id_ceritaku +
                            '/' +
                            encodeURI(cerita.judul_ceritaku)
                        "
                        >{{ cerita.judul_ceritaku }}</a
                      >
                      <div class="category">
                        Kategori : {{ cerita.category_ceritaku }}
                      </div>
                    </div>
                  </div>
                </template>
              </div>
            </div>
            <a href="/cerita" class="btn btn-primary btn-sm mt-2"
              >Lihat Semua</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BTabs } from "bootstrap-vue";
import { BTab } from "bootstrap-vue";
import { BPopover } from "bootstrap-vue";
export default {
  name: "CeritakuSection",
  components: {
    BTabs,
    BTab,
    BPopover,
  },
  props: ["data"],
  data: function() {
    return {
      baseURI: process.env.VUE_APP_API_END_POINT + "/",
      ceritaku: this.data,
      timer: {
        opacity: 0,
      },
    };
  },
  computed: {
    isMobile() {
      return this.$mq == "sm";
    },
    ceritakuHeaderTime() {
      return !this.isMobile ? 1000 : 2200;
    },
    ceritakuContentTime() {
      return !this.isMobile ? 1300 : 2300;
    },
    dekstopHeight() {
      var temp = {};
      if (!this.isMobile) {
        temp = {
          "d-flex": true,
          "align-items-center": true,
          "justify-content-center": true,
        };
      }
      return temp;
    },
  },
  methods: {},
  created: function() {
    document.addEventListener("aos:in:ceritaku", () => {
      console.log("masuk ceritaku");
      var self = this;
      if (this.$mq == "sm") {
        setTimeout(function() {
          self.timer = {
            opacity: 1,
          };
        }, 2300);
      } else {
        setTimeout(function() {
          self.timer = {
            opacity: 1,
          };
        }, 700);
      }
      setTimeout(function() {
        self.ceritaku.isHide = true;
        self.ceritaku.isShow = true;
      }, 700);
      // tampilkan animasi foto sebentar
      if (self.$mq == "sm" || self.$mq == "md") {
        setTimeout(function() {
          self.ceritaku.imgWrap = {
            opacity: 0,
          };
        }, 1700);
        setTimeout(function() {
          self.ceritaku.imgWrap = {
            display: "none",
          };
        }, 2400);
      }
    });
    document.addEventListener("aos:out:ceritaku", () => {
      var self = this;
      setTimeout(function() {
        self.ceritaku.isHide = false;
        self.ceritaku.isShow = false;
      }, 700);
    });
  },
  mounted: function() {},
};
</script>

<style scoped>
.media-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.media-body a {
  font-size: 1rem;
}
.media-body .category {
  color: #656f75 !important;
}
</style>
