<template>
  <div class="cerita-page">
    <NavBar isSearchPage="0" />
    <div class="container">
      <div class="row">
        <h2 class="col-12 cerita-page-title">ceritaKU</h2>
        <!-- Static Content -->
        <div
          v-for="ceritaku in staticCeritaku"
          :key="ceritaku.slug"
          class="col-12 col-lg-6 col-xl-4 cerita-page-column"
        >
          <div class="card cerita-card">
            <a class="card-img-wrap" :href="`/cerita/detail/${ceritaku.slug}`">
              <img
                :src="ceritaku.img"
                class="card-img-top"
                alt="ceritaku image"
              />
            </a>
            <div class="cerita-hover text-left">
              <div class="head-content">
                <p class="title my-0">{{ ceritaku.judul }}</p>
              </div>
              <div class="body-content">
                <p class="body">{{ stringCut(ceritaku.thumb) }}</p>
                <div class="icon-row">
                  <a
                    target="_blank"
                    :href="facebookShareUrl(`/cerita/detail/${ceritaku.slug}`)"
                    class="icon facebook"
                    title="Share on facebook"
                  >
                    <font-awesome-icon
                      :icon="['fab', 'facebook-f']"
                      :mask="['fas', 'circle']"
                      transform="shrink-6"
                      size="lg"
                    ></font-awesome-icon>
                  </a>
                  <a
                    target="_blank"
                    :href="twitterShareUrl(`/cerita/detail/${ceritaku.slug}`)"
                    class="icon twitter"
                    title="Share on twitter"
                  >
                    <font-awesome-icon
                      :icon="['fab', 'twitter']"
                      :mask="['fas', 'circle']"
                      transform="shrink-6"
                      size="lg"
                    ></font-awesome-icon>
                  </a>
                </div>
                <div>
                  <router-link
                    :to="`/cerita/detail/${ceritaku.slug}`"
                    class="btn btn-primary btn-sm float-right"
                    >Selengkapnya</router-link
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BCard } from "bootstrap-vue";
import { BCardImg } from "bootstrap-vue";
import { BCardText } from "bootstrap-vue";
import { BCardBody } from "bootstrap-vue";
import { BRow } from "bootstrap-vue";
import { BCol } from "bootstrap-vue";
import NavBar from "./NavBar.vue";
export default {
  name: "CeritaPage",
  components: {
    NavBar,
    BCard,
    BCardImg,
    BCardText,
    BCardBody,
    BRow,
    BCol,
  },
  props: {},
  data() {
    return {
      ceritaku: [],
      staticCeritaku: [
        {
          judul: "Belajar dari Merenungi Perjalanan Hidup",
          thumb: `Berpikir sempit itu terbatas. Namanya juga sempit. Berpikir sempit bisa membatasi
                    kita melihat peluang dan bahkan bisa membatasi orang lain atau suatu sistem
                    menjadi maju. Tapi, sayangnya berpikir sempit itu baru kita sadari ketika kita
                    mengalami pikiran yang lebih luas pada hal yang sama. `,
          slug: "belajar-dari-merenungi-kehidupan",
          img: require("@/assets/img/cerita/Panel_01.jpg"),
        },
        {
          judul: "Berpikir Sempit (Narrow Minded)",
          thumb: `Kawan, Kita pasti pernah mengalami pemikiran sempit. Berpikir sempit
                     tentang satu hal, baru dapat disadari ketika pikiran kita lebih luas dalam hal
                     tersebut. Bahkan pikiran yang kita anggap luas saat ini boleh jadi kita pandang
                     sempit di masa mendatang.`,
          slug: "cara-berpikir-sempit",
          img: require("@/assets/img/cerita/Panel_02.jpg"),
        },
      ],
      baseURI: process.env.VUE_APP_API_END_POINT + "/",
    };
  },
  created: function() {
    this.fetchData();
  },
  methods: {
    fetchData: function() {
      var self = this;
      fetch(process.env.VUE_APP_API_END_POINT + "/ceritaku")
        .then(function(response) {
          return response.json();
        })
        .then(function(json) {
          self.ceritaku = json;
        });
    },
    stringCut(string) {
      return string.replace(/^(.{10}[^\s]*).*/, "$1");
    },
    facebookShareUrl(slug) {
      return `https://www.facebook.com/sharer.php?u=${process.env
        .VUE_APP_BASE_URL + slug}`;
    },
    twitterShareUrl(slug) {
      return `https://twitter.com/share?url=${process.env.VUE_APP_BASE_URL +
        slug}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.cerita-page {
  background: #001208;
  min-height: 100%;
}
.cerita-page-title {
  color: white;
  margin: 20px 0;
  margin-bottom: 40px;
}
.cerita-page-column {
  margin-bottom: 20px;
}
.cerita-hover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px 15px;
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  > .head-content {
    height: 60px;
    margin-bottom: 10px;
    > .title {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
    }
  }
  > .body-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  > .body {
    margin: 0;
    font-size: 12px;
  }
  > .icon-row {
    margin-top: 15px;
  }
}
.cerita-card {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.cerita-card .card-img-top {
  height: 100%;
  object-fit: cover;
}
.card-img-wrap {
  padding: 0;
  height: 100%;
}
.cerita-card:hover .cerita-hover {
  top: 0;
}
.icon {
  padding-left: 5px;
  transition: color ease-in-out 0.2s;
  color: gray;
}
.icon.facebook:hover {
  color: #3b5999;
}
.icon.twitter:hover {
  color: #55acee;
}
</style>
