<template>
  <div
    class="container-mobile real-bg-page-1"
    :style="containerStyle"
    :class="realBg"
    ref="container-mobile"
  >
    <div class="disolve-bg-page-1" :style="disolvePageOne"></div>
    <div class="disolve-bg-page-2" :style="disolvePageTwo"></div>
    <a href="/cerita" class="home-icon">
      <font-awesome-icon icon="home"></font-awesome-icon>
    </a>
    <div style="margin-top: 50px">
      <div class="container text-wrap">
        <h1 class="title custom-font">Berpikir sempit (narrow-minded )</h1>
        <div class="content" v-show="page === 1">
          <p class="font-weight-bold">
            Kawan, Kita pasti pernah mengalami pemikiran sempit. Berpikir sempit
            tentang satu hal, baru dapat disadari ketika pikiran kita lebih luas
            dalam hal tersebut. Bahkan pikiran yang kita anggap luas saat ini
            boleh jadi kita pandang sempit di masa mendatang. Siapa yang tahu?
            Bukankah hidup ini dinamis. Cara pandang dan pikiran kita terus
            berubah sejalan dengan perubahan pengetahuan, pengalaman, serta
            lingkungan kita.
          </p>
          <p>
            Dulu saat aku studi S1 di Universitas Negeri Makassar (UNM), jika
            orang- orang bertanya kepadaku perihal cita-cita. Aku pasti menjawab
            “Aku ingin menjadi guru di desa terpencil”. Kalimat itu menjadi
            motivasi tersendiri supaya aku rajin belajar. Pikiranku berubah saat
            kakak pertama menjadi seorang dosen, disamping beliau mengajar,
            beliau juga punya banyak waktu untuk mengurus keluarganya. Jadi
            pikiran sempit yang aku alami saat itu bahwa pekerjaan apa pun baik
            itu jadi guru ataupun dosen, hanya sebatas demi keluarga.
          </p>
          <p>
            Dulu saat aku studi S1 di Universitas Negeri Makassar (UNM), jika
            orang- orang bertanya kepadaku perihal cita-cita. Aku pasti menjawab
            “Aku ingin menjadi guru di desa terpencil”. Kalimat itu menjadi
            motivasi tersendiri supaya aku rajin belajar. Pikiranku berubah saat
            kakak pertama menjadi seorang dosen, disamping beliau mengajar,
            beliau juga punya banyak waktu untuk mengurus keluarganya. Jadi
            pikiran sempit yang aku alami saat itu bahwa pekerjaan apa pun baik
            itu jadi guru ataupun dosen, hanya sebatas demi keluarga.
          </p>
          <p>
            Menjelang penyelesaian studi S2 di IKIP Surabaya, seorang Professor
            memberiku ide untuk melanjutkan studi S3 dan spontan aku menolak ide
            tersebut dengan alasan aku adalah seorang wanita, aku ingin menjadi
            ibu dan istri yang baik, aku takut menjadi wanita sesibuk seperti
            professor tersebut. Apa reaksi beliau atas jawabanku? Beliau
            mengatakan bahwa aku bisa saja jadi wanita yang banyak di rumah,
            tapi juga mampu mengatur pekerjaan besar di luar rumah. Saat itu,
            ide tersebut tidak bisa aku pahami. Aku meyakini sepenuhnya bahwa
            seorang wanita sebaiknya lebih banyak di rumah. Ibuku adalah orang
            yang mendedikasikan waktu sepenuhnya untuk suami dan anaknya. Aku
            berpikir bahwa pekerjaan rumah tangga butuh waktu, mana mungkin aku
            bisa studi S3? Mustahil! Lagi-lagi pikiranku sempit, terbatas, hanya
            memikirkan kepentingan diri atau kelompok kecil dan memikirkan bahwa
            peranku sangatlah terbatas.
          </p>
        </div>
        <div class="content" v-show="page === 2">
          <p class="font-weight-bold">
            Setelah studi S2ku selesai, aku mempunyai satu target yang harus aku
            capai, yaitu pulang kampung. Aku ingin mengabdikan diri di tanah
            kelahiran yaitu Makassar. Aku pun ingin melamar menjadi dosen di
            kampus tempat aku belajar menyelesaikan S1 ku yaitu UNM. Aku meminta
            rekomendasi seorang professor Pendidikan Matematika UNM, namun
            beliau hanya mau memberikan rekomendasi jika aku melamar menjadi
            dosen di Jawa, karena bagi beliau jika saya bekerja di Jawa, saya
            bisa lebih berkembang ketimbang berada di UNM. Jelas Aku menolak
            dengan tegas sarannya, aku tetap ingin balik ke Makassar. Bagiku
            ”Ngapain aku membuat pintar orang Jawa sedangkan Jawa sudah maju.
            Aku mau mengabdikan diri di Sulawesi Selatan.”
          </p>
          <p>
            Alhasil, lamaranku ke UNM tak mendapat respon yang berarti dan aku
            tidak lolos. “Terpaksa” dengan berat hati aku pun melamar ke UNESA
            dan aku lulus jadi dosen di sana. Untungnya sejak aku menjadi
            seorang dosen, aku tak pernah rasis. Aku mencintai pekerjaan,
            institusi, dan mahasiswaku yang seratur persen orang Jawa. Aku
            mendedikasikan waktuku untuk institusi. Aku tak pernah sekalipun
            menjadi tenaga honorer di luar. Tak jarang, aku harus kerja lembur,
            bekerja hingga malam demi tanggung jawab pekerjaan. Sesekali
            mahasiswaku datang ke rumah untuk belajar bersama bahkan bermalam.
            Sesekali aku membawa kedua anakku yang masih bayi untuk lembur di
            kantor. Hal yang menarik adalah, walaupun aku tidak menjadi dosen di
            UNM aku bisa berbuat banyak untuk UNM, salah satunya memfasilitasi
            penyediaan sumber-sumber belajar untuk UNM dari Jawa. Bahkan rumah
            kami menjadi tempat mampir bagi keluarga atau kawan dari Sulawesi.
            Dan kami sering menjadi tempat konsultasi bagi keluarga atau kawan
            yang mau studi lanjut di Jawa. Pikiran sempitku saat itu bahwa aku
            harus di tempat untuk bisa mengabdikan ilmu ternyata tidak tepat.
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p
            v-show="page === 2"
            class="custom-font footer-navigation"
            @click="$emit('on-prev-page')"
          >
            <font-awesome-icon icon="chevron-left"></font-awesome-icon>
            Kembali
          </p>
          <div style="width: 100%"></div>
          <p
            v-show="page === 1"
            class="custom-font footer-navigation"
            @click="$emit('on-next-page')"
          >
            Selanjutnya
            <font-awesome-icon icon="chevron-right"></font-awesome-icon>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CeritaBerpikirSempitMobile",
  props: {
    page: {
      type: Number,
    },
  },
  data() {
    return {
      disolvePageOne: {
        opacity: 1,
      },
      disolvePageTwo: {
        opacity: 0,
      },
      containerStyle: {
        overflow: "hidden",
      },
    };
  },
  computed: {
    realBg() {
      if (this.page === 1) {
        return "real-bg-page-1";
      }
      return "real-bg-page-2";
    },
  },
  watch: {
    page(newVal) {
      if (newVal == 1) {
        this.pageOneAnimation();
      } else if (newVal == 2) {
        this.pageTwoAnimation();
      }
    },
  },
  mounted() {
    this.pageOneAnimation();
  },
  methods: {
    pageOneAnimation() {
      document.querySelectorAll(".home-icon")[0].scrollIntoView();
      this.containerStyle.overflow = "hidden";
      this.disolvePageTwo.opacity = 0;
      this.disolvePageOne.opacity = 1;
      setTimeout(() => {
        this.containerStyle.overflow = "scroll";
        this.disolvePageOne.opacity = 0;
      }, 1500);
    },
    pageTwoAnimation() {
      document.querySelectorAll(".home-icon")[0].scrollIntoView();
      this.containerStyle.overflow = "hidden";
      this.disolvePageTwo.opacity = 1;
      setTimeout(() => {
        this.containerStyle.overflow = "scroll";
        this.disolvePageTwo.opacity = 0;
      }, 1500);
    },
    openFBDialog() {
      window.open(
        "https://www.facebook.com/sharer/sharer.php?u=" +
          encodeURIComponent(location.href),
        "facebook-share-dialog",
        "width=626,height=436"
      );
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Boogaloo&display=swap");
.container-mobile {
  overflow: scroll;
  height: 100%;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.title {
  font-size: 32px;
  margin-bottom: 32px;
}
.home-icon {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 10px;
  &.desktop {
    position: fixed;
    left: 10px;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bg-wrap {
  position: relative;
  height: 100vh;
}
.custom-font {
  font-family: "Boogaloo", cursive;
}
.disolve-bg-page-1 {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("~@/assets/img/cerita/dissolve_cerita_02.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
.disolve-bg-page-2 {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("~@/assets/img/cerita/Berpikir-Sempit-(Narrow-Minded)_2_ponsel_up.jpg")
    no-repeat center center fixed;
  background-size: cover;
}
.real-bg-page-1 {
  height: 100vh;
  background: url("~@/assets/img/cerita/backg_cerita_02.jpg") no-repeat center
    center fixed;
  background-size: cover;
  overflow: scroll;
}
.real-bg-page-2 {
  height: 100vh;
  background: url("~@/assets/img/cerita/Berpikir-Sempit-(Narrow-Minded)_2_ponsel_over.jpg")
    no-repeat center center fixed;
  background-size: cover;
  overflow: scroll;
}
.footer-navigation {
  white-space: nowrap;
  font-size: 20px;
  text-align: right;
  &.desktop {
    font-size: 24px;
  }
}
</style>
