<template>
  <div
    class="container-mobile real-bg-page-1"
    :style="containerStyle"
    :class="realBg"
    ref="container-mobile"
  >
    <div class="disolve-bg-page-1" :style="disolvePageOne"></div>
    <div class="disolve-bg-page-2" :style="disolvePageTwo"></div>
    <a href="/cerita" class="home-icon">
      <font-awesome-icon icon="home"></font-awesome-icon>
    </a>
    <div style="margin-top: 50px">
      <div class="container text-wrap" id="page-1-content" v-show="page === 1">
        <h1 class="title custom-font">
          Belajar dari Merenungi Perjalanan Kehidupan
        </h1>
        <div class="content">
          <p class="font-weight-bold">
            ”Berpikir sempit itu terbatas. Namanya juga sempit. Berpikir sempit
            bisa membatasi kita melihat peluang dan bahkan bisa membatasi orang
            lain atau suatu sistem menjadi maju. Tapi, sayangnya berpikir sempit
            itu baru kita sadari ketika kita mengalami pikiran yang lebih luas
            pada hal yang sama. Jadi mari berusaha meluaskan pikiran kita.
            Dengan cara apa? Yaitu dengan belajar. Belajar dapat dilakukan
            dimana saja dan kapan saja. Belajar tidak harus terjadi di institusi
            mahal. Belajar tak harus terjadi dari seorang pakar yang bertitel
            professor. Belajar dapat terjadi dari merenungi dan memaknai satu
            kejadian sederhana”.
          </p>
          <p>
            Angin musim panas berhembus lembut menghangatkan suasana taman luas
            dan artistik, Commonwealth Park. Aku menatap bunga-bunga tulip yang
            mulai mekar Bunga-bunga ini ditanam membentuk pola tertentu yang
            bisa dilihat dari atas bianglala (ferris wheel) tempat Aku saat ini.
            Hatiku dipenuhi dengan rasa syukur
          </p>
          <p>
            Melihat dua orang anak berpelukan dengan orang tuanya,
            mengingatkanku pada kedua orang tuaku. Jarak antara aku dan orang
            tuaku memang jauh, bahkan berbeda benua tapi aku selalu menelpon
            mereka di sela-sela kesibukan mengajar, meneliti ditambah aktivitas
            sebagai Ibu rumah tangga. Aku pun kembali mengingat cerita Ibu dan
            Ayah.
          </p>
        </div>
      </div>

      <div class="container text-wrap" id="page-2-content" v-show="page === 2">
        <h1 class="title custom-font">
          Belajar dari Merenungi Perjalanan Kehidupan
        </h1>
        <div class="content">
          <p class="font-weight-bold">
            Empat puluh tahun yang lalu, Ibu mengandungku dengan bahagia,
            walaupun ada perasaan malu karena jarak usia kakak-kakakku sangat
            dekat. Waktu itu Ayahku tidak mengenal konsep KB (Keluarga
            Berencana) sehingga jarak usia kami berdekatan. Ayah berprinsip
            “Banyak anak banyak rezki”. Saat aku dalam kandungan, Ayah bertugas
            sebagai guru di Pulau Pandangan Pangkep, salah satu pulau yang ada
            di Kabupaten Pangkajene dan Kepulauan. Sebuah daerah terpencil yang
            minim infrastruktur. Sebagai guru yang dicintai oleh masyarakat,
            keluarga kami selalu mendapat ikan segar dari masyarakat sekitar.
            Karena itu, kata Ibu, sejak dalam kandungan, aku banyak mendapatkan
            asupan ikan laut dan mendapatkan ASI ekslusif walaupun gaji Ayah
            sebagai guru sangat rendah.
          </p>
          <p>
            Rumah sakit Pangkajene adalah tempat aku dilahirkan setelah banyak
            drama yang keluargaku alami. Kabupaten Pangkajene dan Kepulauan
            (dahulu bernama Pangkajene Kepulauan, biasa disingkat Pangkep)
            adalah salah satu kabupaten di Provinsi Sulawesi Selatan, Indonesia.
            Ibukotanya adalah Pangkajene. Berdasarkan analisis Bakosurtanal
            (Badan Koordinasi Survei dan Pemetaan Nasional), luas wilayah
            Kabupaten Pangkep adalah 12.362,73 km² dan sekitar 93% dari wilayah
            ini merupakan wilayah laut.
          </p>
          <p>
            Dari cerita Ibuku saat aku menelponnya kemarin, untuk melahirkanku,
            keluargaku harus berjuang naik kapal layar hingga hampir dua malam
            di laut, karena saat itu perahu atau kapal laut belum menggunakan
            mesin. Ayah juga menambahkan bahwa saya dan keluarga termasuk orang
            yang sangat beruntung karena masih sempat hidup. Rupanya, saat aku
            masih bayi, kami sekeluarga hampir tenggelam. Saat itu, air sudah
            masuk ke perahu layar kami karena kapal kami bocor. Beruntung sekali
            kapal layar kami masih bisa mencapai sebuah pulau kecil. Bisa
            terbayangkan betapa menegangkan situasi saat itu. Tapi terbayang
            juga, pasti Ayah dan Ibu terus berdoa pada Allah memohon
            keselamatan.
          </p>
        </div>
      </div>

      <div class="d-flex justify-content-between mx-2">
        <p
          v-show="page === 2"
          class="custom-font footer-navigation"
          @click="$emit('on-prev-page')"
        >
          <font-awesome-icon icon="chevron-left"></font-awesome-icon>
          Kembali
        </p>
        <div style="width: 100%"></div>
        <p class="custom-font footer-navigation">
          <span v-if="page === 1" @click="$emit('on-next-page')">
            Selanjutnya
            <font-awesome-icon icon="chevron-right"></font-awesome-icon>
          </span>
          <span v-if="page === 2">
            Bersambung ..
          </span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CeritaDetailNew",
  props: {
    page: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      disolvePageOne: {
        opacity: 1,
      },
      disolvePageTwo: {
        opacity: 0,
      },
      containerStyle: {
        overflow: "hidden",
      },
    };
  },
  computed: {
    realBg() {
      if (this.page === 1) {
        return "real-bg-page-1";
      }
      return "real-bg-page-2";
    },
  },
  mounted() {
    this.pageOneAnimation();
  },
  watch: {
    page(newVal) {
      if (newVal == 1) {
        this.pageOneAnimation();
      } else if (newVal == 2) {
        this.pageTwoAnimation();
      }
    },
  },
  methods: {
    pageOneAnimation() {
      document.querySelectorAll(".home-icon")[0].scrollIntoView();
      this.containerStyle.overflow = "hidden";
      this.disolvePageTwo.opacity = 0;
      this.disolvePageOne.opacity = 1;
      setTimeout(() => {
        this.containerStyle.overflow = "scroll";
        this.disolvePageOne.opacity = 0;
      }, 1500);
    },
    pageTwoAnimation() {
      document.querySelectorAll(".home-icon")[0].scrollIntoView();
      this.containerStyle.overflow = "hidden";
      this.disolvePageTwo.opacity = 1;
      setTimeout(() => {
        this.containerStyle.overflow = "scroll";
        this.disolvePageTwo.opacity = 0;
      }, 1500);
    },

    startFadeAnimation() {
      setTimeout(() => {
        this.overflowStyle.overflow = "scroll";
        this.disolveShow.opacity = 0;
      }, 1500);
    },

    openFBDialog() {
      window.open(
        "https://www.facebook.com/sharer/sharer.php?u=" +
          encodeURIComponent(location.href),
        "facebook-share-dialog",
        "width=626,height=436"
      );
    },
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Boogaloo&display=swap");
.container-mobile {
  overflow: scroll;
  height: 100%;
  position: relative;
  transition: all ease-in-out 0.5s;
}
.home-icon {
  color: red;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 10px;
}
.title {
  font-size: 32px;
  margin-bottom: 24px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.bg-wrap {
  position: relative;
  height: 100vh;
}
.custom-font {
  font-family: "Boogaloo", cursive;
}
.disolve-bg {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("~@/assets/img/cerita/dissolve_cerita_01.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
.disolve-bg-page-1 {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("~@/assets/img/cerita/dissolve_cerita_01.jpg") no-repeat
    center center fixed;
  background-size: cover;
}
.real-bg-page-1 {
  height: 100vh;
  overflow: scroll;
  background: url("~@/assets/img/cerita/backg_cerita_01.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

.disolve-bg-page-2 {
  transition: all ease-in-out 0.5s;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url("~@/assets/img/cerita/Belajar-dari-Merenungi-Perjalanan-Kehidupan_Page_2_ponsel_up.jpg")
    no-repeat center center fixed;
  background-size: cover;
}
.real-bg-page-2 {
  height: 100vh;
  overflow: scroll;
  background: url("~@/assets/img/cerita/Belajar-dari-Merenungi-Perjalanan-Kehidupan_Page_2_ponsel_over.jpg")
    no-repeat center center fixed;
  background-size: cover;
}
.cerita-detail {
  width: 100%;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  > .text-wrap {
    // background: rgba($color: #ffffff, $alpha: 0.6);
    border-radius: 5%;
    padding: 15px;
    > .content {
      font-size: 18px;
      text-align: justify;
      text-indent: 30px;
    }
  }
}
.footer-navigation {
  white-space: nowrap;
  font-size: 20px;
  text-align: right;
}
</style>
