<template>
  <component
    :is="currentComponent"
    @on-next-page="nextPage"
    @on-prev-page="prevPage"
    :page="page"
  ></component>
</template>

<script>
export default {
  name: "CeritaBerpikirSempit",
  components: {
    "desktop-version": () =>
      import(`@/components/CeritaBerpikirSempitDesktop.vue`),
    "mobile-version": () =>
      import("@/components/CeritaBerpikirSempitMobile.vue"),
  },
  data() {
    return {
      // b2 adalah bg sebenarnya, bg1 adalah bg animasi
      style: {
        heigt: "100%",
      },
      containerStyle: {
        overflow: "hidden",
        height: "100%",
      },
      bg1Style: {
        opacity: 1,
      },
      bg2Style: {
        opacity: 0,
      },
      page: 1,
    };
  },
  computed: {
    currentComponent() {
      if (this.$mq == "sm") {
        return "mobile-version";
      } else {
        return "desktop-version";
      }
    },
  },
  methods: {
    nextPage() {
      this.page += 1;
    },
    prevPage() {
      this.page -= 1;
    },
  },
};
</script>
