<template>
  <component
    :is="currentComponent"
    :page="page"
    @on-next-page="nextPage"
    @on-prev-page="prevPage"
  ></component>
</template>

<script>
export default {
  name: "CeritaDetailNew",
  components: {
    "desktop-version": () =>
      import(`@/components/CeritaMerenungiKehidupanDesktop.vue`),
    "mobile-version": () =>
      import("@/components/CeritaMerenungiKehidupanMobile.vue"),
  },
  data() {
    return {
      page: 1,
    };
  },
  computed: {
    currentComponent() {
      if (this.$mq == "sm") {
        return "mobile-version";
      } else {
        return "desktop-version";
      }
    },
  },
  methods: {
    nextPage() {
      this.page += 1;
    },
    prevPage() {
      this.page -= 1;
    },
  },
};
</script>
