<template>
  <div id="contact" class="section-wrap" :class="dekstopHeight">
    <div
      class
      data-aos="fade-up"
      data-aos-id="contact"
      data-aos-once="true"
      style="width: 100%"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
            <h3
              class="white-text mb-5 section-header"
              data-aos="fade-up"
              :data-aos-delay="contactHeaderTime"
              data-aos-once="true"
            >
              <span v-show="lang == 'EN'">Contact Me</span>
              <span v-show="lang == 'ID'">Hubungi Saya</span>
            </h3>
          </div>
          <div
            class="col-12 col-md-6 stack-image-2 align-self-top"
            style="top: -30px"
            :style="contact.imgWrap"
          >
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Contact"
              :class="{ hide: contact.isHide }"
              src="@/assets/img/contact_cl.png"
            />
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Contact"
              :class="{ show: contact.isShow }"
              src="@/assets/img/contact_bws.png"
            />
          </div>
          <div class="col-12 col-md-6">
            <div class="row">
              <form
                class="col-12 form-contact"
                v-on:submit.prevent="sendEmail"
                data-aos="fade-up"
                :data-aos-delay="contactContentTime"
                data-aos-once="true"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for>
                        <span v-show="lang == 'EN'">Name</span>
                        <span v-show="lang == 'ID'">Nama</span>
                      </label>
                      <input
                        v-model="form.nama"
                        v-show="lang == 'EN'"
                        class="form-control"
                        type="text"
                        :placeholder="form.namaPlaceholder"
                        required
                      />
                      <input
                        v-model="form.nama"
                        v-show="lang == 'ID'"
                        class="form-control"
                        type="text"
                        :placeholder="form.namaPlaceholder2"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for>E-Mail</label>
                      <input
                        v-model="form.email"
                        v-show="lang == 'EN'"
                        class="form-control"
                        type="email"
                        :placeholder="form.emailPlaceholder"
                        required
                      />
                      <input
                        v-model="form.email"
                        v-show="lang == 'ID'"
                        class="form-control"
                        type="email"
                        :placeholder="form.emailPlaceholder2"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for>
                    <span v-show="lang == 'EN'">Text</span>
                    <span v-show="lang == 'ID'">Teks</span>
                  </label>
                  <textarea
                    v-model="form.text"
                    v-show="lang == 'EN'"
                    class="form-control"
                    style="height: 230px"
                    :placeholder="form.textPlaceholder"
                    required
                  ></textarea>
                  <textarea
                    v-model="form.text"
                    v-show="lang == 'ID'"
                    class="form-control"
                    style="height: 230px"
                    :placeholder="form.textPlaceholder2"
                    required
                  ></textarea>
                </div>
                <div class="text-right">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    :class="{ disabled: form.loading }"
                  >
                    <template v-if="form.loading">
                      <span v-show="lang == 'EN'">Sending Email ...</span>
                      <span v-show="lang == 'ID'">Mengirim Email ...</span>
                      <span class="spinner-border spinner-border-sm"></span>
                    </template>
                    <template v-if="!form.loading">
                      <span v-show="lang == 'EN'">Submit</span>
                      <span v-show="lang == 'ID'">Kirim</span>
                    </template>
                  </button>
                </div>
              </form>
              <!-- <h5 class="col-12 white-text text-left my-3" data-aos="fade-up" data-aos-once="true">Visitor</h5>
                  <div class="col-12" data-aos="fade-up" data-aos-once="true">
                    <analytics></analytics>
              </div>-->
            </div>
          </div>
          <div class="col-md-6 offset-md-3"></div>
        </div>
      </div>
    </div>
    <toast
      v-show="lang == 'EN'"
      :text="form.emailNotif"
      :show="toast.show"
    ></toast>
    <toast
      v-show="lang == 'ID'"
      :text="form.emailNotif2"
      :show="toast.show"
    ></toast>
  </div>
</template>

<script>
import Toast from "./Toast.vue";
// import Analytics from "./Analytics.vue";
export default {
  name: "ContactSection",
  props: ["data", "lang"],
  components: {
    Toast,
    // Analytics
  },
  data() {
    return {
      contact: this.data,
      form: {
        loading: false,
        nama: "",
        namaPlaceholder: "Enter Your Name",
        namaPlaceholder2: "Masukkan Nama Anda",
        email: "",
        emailPlaceholder: "Enter Your E-Mail Address",
        emailPlaceholder2: "Masukkan E-Mail Anda",
        text: "",
        textPlaceholder: "Enter Your Question",
        textPlaceholder2: "Masukkan Pertanyaan Anda",
        emailNotif: "Thank you for emailing me",
        emailNotif2: "Terima kasih sudah mengirim email",
      },
      toast: {
        show: false,
      },
    };
  },
  computed: {
    contactHeaderTime() {
      return this.$mq != "sm" ? 1000 : 2200;
    },
    contactContentTime() {
      return this.$mq != "sm" ? 1300 : 2300;
    },
    dekstopHeight() {
      var temp = {};
      if (this.$mq != "sm") {
        temp = {
          "d-flex": true,
          "justify-content-center": true,
        };
      }
      return temp;
    },
  },
  watch: {},
  created: function() {
    document.addEventListener("aos:in:contact", () => {
      console.log("masuk contact.");
      var self = this;
      setTimeout(function() {
        self.contact.isHide = true;
        self.contact.isShow = true;
      }, 700);
      // tampilkan animasi foto sebentar
      if (self.$mq == "sm" || self.$mq == "md") {
        setTimeout(function() {
          self.contact.imgWrap = {
            opacity: 0,
          };
        }, 1700);
        setTimeout(function() {
          self.contact.imgWrap = {
            display: "none",
          };
        }, 2400);
      }
    });
    document.addEventListener("aos:out:presentation", () => {
      var self = this;
      setTimeout(function() {
        self.contact.isHide = false;
        self.contact.isShow = false;
      }, 700);
    });
  },
  mounted: function() {},
  destroyed: function() {},
  methods: {
    sendEmail: function() {
      var self = this;
      this.form.loading = true;
      this.toast.show = false;
      fetch(process.env.VUE_APP_API_END_POINT + "/sendEmail", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          nama: this.form.nama,
          email: this.form.email,
          text: this.form.text,
        }),
      }).then((respone) => {
        this.form.loading = false;
        this.toast.show = true;
        this.form.nama = "";
        this.form.email = "";
        this.form.text = "";
      });
    },
  },
};
</script>

<style></style>
