<template>
  <div id="gallery-slider" class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <div class="inner-slider slide-1">
            <img
              src="@/assets/img/gallery/IMG_0034_s.jpg"
              alt="image one"
              slot="img"
              class="d-block img-fluid w-100"
            >            
          </div>
        </li>
        <li class="glide__slide">
          <div class="inner-slider slide-2">
            <img
              src="@/assets/img/gallery/IMG_0058_s.jpg"
              alt="image one"
              slot="img"
              class="d-block img-fluid w-100"
            >            
          </div>
        </li>
        <li class="glide__slide">
          <div class="inner-slider slide-3">
            <img
              src="@/assets/img/gallery/IMG_0079E_s.jpg"
              alt="image one"
              slot="img"
              class="d-block img-fluid w-100"
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <font-awesome-icon icon="chevron-left"></font-awesome-icon>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <font-awesome-icon icon="chevron-right"></font-awesome-icon>
      </button>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
      <button class="glide__bullet" data-glide-dir="=0"></button>
      <button class="glide__bullet" data-glide-dir="=1"></button>
      <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
  </div>
</template>

<script>
import Glide from "@glidejs/glide";
export default {
  name: "GallerySlider",
  components: {},
  data: function() {
    return {};
  },
  methods: {},
  created: function() {},
  mounted: function() {
    new Glide("#gallery-slider", {
      type: "carousel",
      autoplay: 4000,
      animationDuration: 1000,
      hoverpause: false
    }).mount();
  }
};
</script>

<style>
</style>

