<template>
  <div class="gallery-page">
    <NavBar isSearchPage="0" />
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="text-white pt-3 mb-4 gallery-header">Gallery</h3>
        </div>
        <div class="col-12">
          <div class="row gallery-item-wrap">
            <a
              v-for="img in img"
              :key="img.id_gallery"
              :href="baseURI + img.img_ori"
              :data-caption="img.caption_gallery"
              class="gallery-show col-12 col-md-6"
            >
              <img :src="baseURI + img.img_ori" class="img-fluid" />
              <div class="col-12 gallery-show-desc-wrap">
                <p class="gallery-show-desc">{{ img.caption_gallery }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NavBar from "./NavBar.vue";
import "baguettebox.js/dist/baguetteBox.min.css";
import baguetteBox from "baguettebox.js";
import debounce from "lodash.debounce";
export default {
  name: "GalleryPage",
  components: {
    NavBar,
  },
  props: {},
  data() {
    return {
      img: [],
      isLoading: true,
      baseURI: process.env.VUE_APP_API_END_POINT + "/",
    };
  },
  computed: {},
  watch: {},
  created: function() {
    this.getImg();
  },
  mounted: function() {},
  destroyed: function() {},
  methods: {
    getImg() {
      var self = this;
      fetch(process.env.VUE_APP_API_END_POINT + "/img", {
        method: "get",
      })
        .then((respone) => {
          return respone.json();
        })
        .then((json) => {
          this.img = json;
          this.isLoading = false;
          this.active();
        });
    },
    active: debounce(function() {
      baguetteBox.run(".gallery-item-wrap", {
        // Custom options
      });
    }, 500),
  },
};
</script>

<style>
.glightbox-open {
  height: 100% !important;
}
.glightbox-clean .gslide-description {
  position: relative;
  top: -50px;
}
.gallery-page {
  background: #001208;
  min-height: 100%;
}
.gallery-show {
  padding: 10px;
  position: relative;
}
.gallery-show-desc-wrap {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}
.gallery-show-desc {
  background-color: white;
  margin: 0;
  padding: 10px;
  color: #343a40;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery-header {
  margin: 15px 0 20px 0;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.gallery-header::after {
  position: absolute;
  content: "";
  bottom: -10px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 20%;
}
</style>
