<template>
  <div id="gallery" class="section-wrap" :class="dekstopHeight">
    <div class data-aos="fade-up" data-aos-id="gallery" data-aos-once="true" style="width: 100%">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
            <h3
              class="white-text mb-5 section-header"
              data-aos="fade-up"
              :data-aos-delay="galleryHeaderTime"
              data-aos-once="true"
            >
              <span v-show="lang == 'EN'">Gallery</span>
              <span v-show="lang == 'ID'">Galeri</span>
            </h3>
          </div>

          <div class="col-12 col-md-6">
            <div
              class="row"
              data-aos="fade-up"
              :data-aos-delay="galleryContentTime"
              data-aos-once="true"
            >
              <!-- Slider -->
              <GallerySlider />
              <div class="col-12 text-center">
                <router-link to="/gallery" class="btn btn-primary btn-sm">
                  <span v-show="lang == 'EN'">More Photos</span>
                  <span v-show="lang == 'ID'">Foto Lainya</span>
                </router-link>
              </div>
              <!-- Slider -->
            </div>
          </div>
          <div class="col-12 col-md-6 stack-image-2 align-self-top" :style="gallery.imgWrap">
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Gallery"
              :class="{hide: gallery.isHide,}"
              src="@/assets/img/gallery_clr.png"
            />
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Gallery"
              :class="{show: gallery.isShow}"
              src="@/assets/img/gallery_bw.png"
            />
          </div>
          <div class="col-md-6 offset-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GallerySlider from "./GallerySlider.vue";
export default {
  name: "GallerySection",
  props: ["data", "lang"],
  components: {
    GallerySlider
  },
  data() {
    return {
      gallery: this.data
    };
  },
  computed: {
    galleryHeaderTime() {
      return this.$mq != "sm" ? 1000 : 2200;
    },
    galleryContentTime() {
      return this.$mq != "sm" ? 1300 : 2300;
    },
    dekstopHeight() {
      var temp = {};
      if (this.$mq != "sm") {
        temp = {
          "d-flex": true,
          "align-items-start": true,
          "justify-content-center": true
        };
      }
      return temp;
    }
  },
  watch: {},
  created: function() {
    document.addEventListener("aos:in:gallery", () => {
      console.log("masuk gallery.");
      var self = this;
      setTimeout(function() {
        self.gallery.isHide = true;
        self.gallery.isShow = true;
      }, 700);
      // tampilkan animasi foto sebentar
      if (self.$mq == "sm" || self.$mq == "md") {
        setTimeout(function() {
          self.gallery.imgWrap = {
            opacity: 0
          };
        }, 1700);
        setTimeout(function() {
          self.gallery.imgWrap = {
            display: "none"
          };
        }, 2400);
      }
    });
    document.addEventListener("aos:out:gallery", () => {
      var self = this;
      setTimeout(function() {
        self.gallery.isHide = false;
        self.gallery.isShow = false;
      }, 700);
    });
  },
  mounted: function() {},
  destroyed: function() {},
  methods: {}
};
</script>

<style>
</style>
