<template>
  <div id="slider" class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <div class="inner-slider slide-1">
            <img
              src="@/assets/img/canberra_2.jpg"
              alt="image one"
              slot="img"
              class="d-block img-fluid w-100"
            >
            <a
              href="https://news.detik.com/abc-australia/d-3193222/sitti-maesuri-patahuddin-menyebarkan-pengajaran-matematika-dari-canberra"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary"
              :class="{'btn-sm' : $mq == 'sm'}"
              :style="{ bottom: sliderButton}"
            >
              <span v-show="lang == 'EN'">More Info</span>
              <span v-show="lang == 'ID'">Info Selanjutnya</span>
              <font-awesome-icon icon="external-link-square-alt"></font-awesome-icon>
            </a>
          </div>
        </li>
        <li class="glide__slide">
          <div class="inner-slider slide-2">
            <img
              src="@/assets/img/palu_2.jpg"
              alt="image one"
              slot="img"
              class="d-block img-fluid w-100"
            >
            <a
              href="https://www.gofundme.com/palu-earthquake-rebuild-education"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary"
              :class="{'btn-sm' : $mq == 'sm'}"
              :style="{ bottom: sliderButton}"
            >
              <span v-show="lang == 'EN'">More Info</span>
              <span v-show="lang == 'ID'">Info Selanjutnya</span>
              <font-awesome-icon icon="external-link-square-alt"></font-awesome-icon>
            </a>
          </div>
        </li>
        <li class="glide__slide">
          <div class="inner-slider slide-3">
            <img
              src="@/assets/img/facebook_2.jpg"
              alt="image one"
              slot="img"
              class="d-block img-fluid w-100"
            >
            <a
              href="https://sittipatahuddin.com/study"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary"
              :class="{'btn-sm' : $mq == 'sm'}"
              :style="{ bottom: sliderButton}"
            >
              <span v-show="lang == 'EN'">More Info</span>
              <span v-show="lang == 'ID'">Info Selanjutnya</span>
              <font-awesome-icon icon="external-link-square-alt"></font-awesome-icon>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
        <font-awesome-icon icon="chevron-left"></font-awesome-icon>
      </button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
        <font-awesome-icon icon="chevron-right"></font-awesome-icon>
      </button>
    </div>
    <!-- <div class="glide__bullets" data-glide-el="controls[nav]">
      <button class="glide__bullet" data-glide-dir="=0"></button>
      <button class="glide__bullet" data-glide-dir="=1"></button>
      <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>-->
  </div>
</template>

<script>
import Glide from "@glidejs/glide";
export default {
  name: "HomeSlider",
  props: ["lang"],
  components: {},
  data: function() {
    return {};
  },
  computed: {
    sliderButton() {
      if (this.$mq == "sm") {
        return "10px";
      }
    }
  },
  methods: {},
  created: function() {},
  mounted: function() {
    new Glide(".glide", {
      type: "carousel",
      autoplay: 4000,
      animationDuration: 1000,
      hoverpause: true
    }).mount();
  }
};
</script>

<style>
#slider {
  /* height: 100vh; */
  /* margin-bottom: 100px; */
  background-color: #272100;
}
.glide__slides div {
  position: relative;
}
.glide__slides div a {
  color: black;
  background-color: #f00104;
  border-color: #f00104;
  position: absolute;
  font-weight: 600;
  bottom: 200px;
  right: 100px;
}
.glide__slides div a:hover {
  color: white;
  background-color: #f00104;
  border-color: #f00104;
}

.glide__slides .inner-slider .fa-external-link-square-alt{
  margin-left: 5px;
}
/* media query */
@media screen and (min-width: 1200px) {
.glide__slides .slide-1 a {
  bottom: 180;
  right: 50px;
  /* right: 100px; */
}
.glide__slides .slide-2 a {
  bottom: 380px;
  right: 50px;
  /* right: 100px; */
}
.glide__slides .slide-3 a {
  bottom: 340px;
  right: 50px;
  /* right: 100px; */
}
}

@media screen and (max-width: 992px) {
  .glide__slides .slide-1 a {
    right: 50px;
    bottom: 55%;
    /* left: 50px; */
  }
  .glide__slides .slide-2 a {
    right: 50px;
    bottom: 55%;
  }
  .glide__slides .slide-3 a {
    right: 50px;
    bottom: 55%;
  }
}

@media screen and (max-width: 768px) {
  .glide__slides .slide-1 a {
    bottom: 10px;
    left: 30px;
    right: auto;
  }
  .glide__slides .slide-2 a {
    bottom: 10px;
    left: 30px;
    right: auto;
  }
  .glide__slides .slide-3 a {
    bottom: 10px;
    left: 30px;
    right: auto;
  }
}

@media screen and (max-width: 576px) {
  .glide__slides .slide-1 a {
    bottom: 10px;
    left: 30px;
    right: auto;
  }
  .glide__slides .slide-2 a {
    bottom: 10px;
    left: 30px;
    right: auto;
  }
  .glide__slides .slide-3 a {
    bottom: 10px;
    left: 30px;
    right: auto;
  }
}

@media (min-width: 992px) {
  #slider {
    min-height: 610px;
  }
}
</style>

