<template>
  <div>
    <NavBar isSearchPage="1" :lang="lang" v-on:lang-change="setLang" />
    <div v-scroll-spy="{ offset: offsetPixel, data: 'indexScroll' }">
      <!-- Slider -->
      <HomeSlider :lang="lang" />
      <!-- Profile Section -->
      <ProfileSection :data="profile" :lang="lang"></ProfileSection>
      <!-- Teaching Section -->
      <TeachingSection :data="teaching" :lang="lang"></TeachingSection>
      <!-- research section -->
      <ResearchSection :data="research" :lang="lang"></ResearchSection>
      <!-- publication section -->
      <PublicationSection :data="publication" :lang="lang"></PublicationSection>
      <!-- presentation section -->
      <PresentationSection
        :data="presentation"
        :lang="lang"
      ></PresentationSection>
      <!-- ceritaku section -->
      <CeritakuSection :data="ceritaku" v-if="lang == 'ID'"></CeritakuSection>
      <!-- gallery section -->
      <GallerySection :data="gallery" :lang="lang"></GallerySection>
      <!-- Journey section -->
      <!-- <div id="journey" class="section-wrap d-flex align-items-center justify-content-center">
        <div class="" data-aos="fade-up" data-aos-delay="1000" data-aos-once="true">
          <img class="img-fluid" src="@/assets/img/Draft_Journey_1.jpg" alt="Sitti Patahuddin Journey" style="width:100%">
        </div>
      </div>-->
      <!-- contact section -->
      <ContactSection :data="contact" :lang="lang"></ContactSection>
    </div>
  </div>
</template>

<script>
import NavBar from "./NavBar.vue";
import HomeSlider from "./HomeSlider.vue";
import ProfileSection from "./ProfileSection.vue";
import TeachingSection from "./TeachingSection.vue";
import ResearchSection from "./ResearchSection.vue";
import PublicationSection from "./PublicationSection.vue";
import PresentationSection from "./PresentationSection.vue";
import CeritakuSection from "./CeritakuSection.vue";
import GallerySection from "./GallerySection";
import ContactSection from "./ContactSection";
// helper component
import AOS from "aos";
import "aos/dist/aos.css";

export default {
  name: "app",
  components: {
    NavBar,
    HomeSlider,
    ProfileSection,
    TeachingSection,
    ResearchSection,
    PublicationSection,
    PresentationSection,
    CeritakuSection,
    GallerySection,
    ContactSection,
  },
  data: function() {
    return {
      lang: "EN",
      indexScroll: "",
      profile: {
        isHide: false,
        isShow: false,
        imgWrap: [],
        content: "",
      },
      teaching: {
        isHide: false,
        isShow: false,
        imgWrap: [],
        content: "",
      },
      research: {
        isHide: false,
        isShow: false,
        imgWrap: [],
        australia: [],
        indonesia: [],
      },
      publication: {
        isHide: false,
        isShow: false,
        imgWrap: [],
        journal: [],
        book: [],
        conference: [],
      },
      presentation: {
        isHide: false,
        isShow: false,
        imgWrap: [],
        common: [],
        keynote: [],
      },
      gallery: {
        isHide: false,
        isShow: false,
        imgWrap: [],
      },
      ceritaku: {
        isHide: false,
        isShow: false,
        content: [],
      },
      contact: {
        isHide: false,
        isShow: false,
        imgWrap: [],
      },
    };
  },
  computed: {
    offsetPixel() {
      if (this.$mq == "sm") {
        return 430;
      } else if (this.$mq == "md") {
        return 430;
      } else if (this.$mq == "lg") {
        return 430;
      } else {
        return 48;
      }
      // return this.$mq != "sm" ? 48 : 430;
    },
  },
  methods: {
    setLang: function(changeLang) {
      this.lang = changeLang;
    },
    slideStart: function() {
      this.sliding = true;
      this.interval = 0;
    },
    getData: function() {
      this.getProfile().then(() => {
        this.getTeaching().then(() => {
          this.getResearch().then(() => {
            this.getPublication().then(() => {
              this.getPresentation().then(() => {
                this.getCeritaku().then(() => {
                  console.log("all data loaded");
                });
              });
            });
          });
        });
      });
    },
    getProfile: function() {
      return new Promise((resolve) => {
        fetch(process.env.VUE_APP_API_END_POINT + "/profile", {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then(function(response) {
            return response.json();
          })
          .then((json) => {
            this.anchorNewTab();
            this.profile.content = json;
            resolve();
          });
      });
    },
    getTeaching: function() {
      return new Promise((resolve) => {
        fetch(process.env.VUE_APP_API_END_POINT + "/teaching", {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then(function(response) {
            return response.json();
          })
          .then((json) => {
            this.anchorNewTab();
            this.teaching.content = json;
            resolve();
          });
      });
    },
    getResearch: function() {
      return new Promise((resolve) => {
        fetch(process.env.VUE_APP_API_END_POINT + "/research", {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then(function(response) {
            return response.json();
          })
          .then((json) => {
            this.anchorNewTab();
            json.forEach((item) => {
              if (item.type_research == 1) {
                this.research.australia.push(item);
              } else {
                this.research.indonesia.push(item);
              }
            });
            resolve();
          });
      });
    },
    getPublication: function() {
      return new Promise((resolve) => {
        fetch(process.env.VUE_APP_API_END_POINT + "/publication", {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then(function(response) {
            return response.json();
          })
          .then((json) => {
            this.anchorNewTab();
            json.forEach((item) => {
              if (item.type_publication == 1) {
                this.publication.journal.push(item);
              } else if (item.type_publication == 2) {
                this.publication.book.push(item);
              } else {
                this.publication.conference.push(item);
              }
            });
            resolve();
          });
      });
    },
    getPresentation: function() {
      return new Promise((resolve) => {
        fetch(process.env.VUE_APP_API_END_POINT + "/presentation", {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then(function(response) {
            return response.json();
          })
          .then((json) => {
            this.anchorNewTab();
            json.forEach((item) => {
              if (item.type_presentation == 1) {
                this.presentation.common.push(item);
              } else if (item.type_presentation == 2) {
                this.presentation.keynote.push(item);
              }
            });
            resolve();
          });
      });
    },
    getCeritaku: function() {
      return new Promise((resolve) => {
        fetch(process.env.VUE_APP_API_END_POINT + "/ceritaku", {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        })
          .then(function(response) {
            return response.json();
          })
          .then((json) => {
            this.ceritaku.content = json;
            this.anchorNewTab();
            resolve();
          });
      });
    },
    anchorNewTab() {
      var links = document.links;
      for (var i = 0; i < links.length; i++) {
        if (
          !links[i].href.includes("localhost") &&
          !links[i].href.includes("sittipatahuddin")
        ) {
          links[i].target = "_blank";
        }
      }
    },
  },
  created: function() {
    AOS.init();
    this.getData();
  },
  mounted: function() {
    window.addEventListener(
      "orientationchange",
      function() {
        window.location.reload();
      },
      false
    );
  },
  destroyed: function() {
    document.removeEventListener("aos:in:profile", () => {
      var self = this;
      setTimeout(function() {
        self.profile.isHide = true;
        self.profile.isShow = true;
      }, 700);
    });
    document.removeEventListener("aos:out:profile", () => {
      var self = this;
      setTimeout(function() {
        self.profile.isHide = false;
        self.profile.isShow = false;
      }, 700);
    });
    document.addEventListener("aos:in:teaching", () => {
      var self = this;
      setTimeout(function() {
        self.teaching.isHide = true;
        self.teaching.isShow = true;
      }, 700);
    });
    document.addEventListener("aos:out:teaching", () => {
      var self = this;
      setTimeout(function() {
        self.teaching.isHide = false;
        self.teaching.isShow = false;
      }, 700);
    });
    document.removeEventListener("aos:in:publication", () => {
      var self = this;
      setTimeout(function() {
        self.publication.isHide = true;
        self.publication.isShow = true;
      }, 700);
    });
    document.removeEventListener("aos:out:publication", () => {
      var self = this;
      setTimeout(function() {
        self.publication.isHide = false;
        self.publication.isShow = false;
      }, 700);
    });

    document.removeEventListener("aos:in:research", () => {
      var self = this;
      setTimeout(function() {
        self.research.isHide = true;
        self.research.isShow = true;
      }, 700);
    });
    document.removeEventListener("aos:out:research", () => {
      var self = this;
      setTimeout(function() {
        self.research.isHide = false;
        self.research.isShow = false;
      }, 700);
    });

    document.removeEventListener("aos:in:presentation", () => {
      var self = this;
      setTimeout(function() {
        self.presentation.isHide = true;
        self.presentation.isShow = true;
      }, 700);
    });
    document.removeEventListener("aos:out:presentation", () => {
      var self = this;
      setTimeout(function() {
        self.presentation.isHide = false;
        self.presentation.isShow = false;
      }, 700);
    });

    document.removeEventListener("aos:in:gallery", () => {
      var self = this;
      setTimeout(function() {
        self.gallery.isHide = true;
        self.gallery.isShow = true;
      }, 700);
    });
    document.removeEventListener("aos:out:gallery", () => {
      var self = this;
      setTimeout(function() {
        self.gallery.isHide = false;
        self.gallery.isShow = false;
      }, 700);
    });

    document.removeEventListener("aos:in:contact", () => {
      var self = this;
      setTimeout(function() {
        self.contact.isHide = true;
        self.contact.isShow = true;
      }, 700);
    });
    document.removeEventListener("aos:out:contact", () => {
      var self = this;
      setTimeout(function() {
        self.contact.isHide = false;
        self.contact.isShow = false;
      }, 700);
    });
  },
};
</script>

<style>
#profile {
  background-color: #272100;
}
#teaching {
  background-color: #161a01;
}
#publication {
  background-color: #1d032e;
}
#research {
  background-color: #070330;
}
#presentation {
  background-color: #250404;
}
#ceritaku {
  background-color: #121518;
}
#gallery {
  background-color: #001208;
  min-height: 600px;
}
#journey {
  background-color: #000f16;
}
#contact {
  background-color: #301c01;
  min-height: 620px;
}
div[data-aos-id="profile"],
div[data-aos-id="teaching"],
div[data-aos-id="publication"],
div[data-aos-id="research"],
div[data-aos-id="presentation"],
div[data-aos-id="gallery"],
div[data-aos-id="journey"],
div[data-aos-id="contact"] {
  width: 100%;
}
/* helper-class */
.white-text {
  color: white;
}
.no-left {
  left: 0;
}
.paragraph-content p {
  text-indent: 30px;
}
.bg-dark {
  background-color: #000000 !important;
}
.hide {
  opacity: 0 !important;
}
.show {
  opacity: 1 !important;
}
.hidden {
  opacity: 0;
  /* display: none; */
}
/* end helper class */
.stack-image,
.stack-image-2 {
  position: relative;
  -webkit-transition: opacity 700ms linear;
  -moz-transition: opacity 700ms linear;
  -o-transition: opacity 700ms linear;
  transition: opacity 700ms linear;
}
.section-wrap {
  min-height: 610px;
  /* height: 100vh; */
  padding: 10px 0;
}
.section-header {
  margin: 15px 0 20px 0;
  font-family: "Libre Baskerville";
  font-weight: normal;
  font-style: oblique;
  font-size: 1.5rem;
  position: relative;
}
.section-header::after {
  position: absolute;
  content: "";
  bottom: -10px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
}
#research .section-header::after {
  width: 100%;
}
.section-body {
  height: 500px;
  overflow-y: scroll;
  padding-right: 20px;
  /* padding-left: 10px; */
}
.section-body-mobile {
  height: 80vh;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 30px;
}
.section-body-2 {
  height: 450px;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 20px;
}
.section-body-2-mobile {
  height: 80vh;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 20px;
}
.stack-image img {
  /* position:absolute; */
  /* left:20%; */
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 700ms linear;
  -moz-transition: opacity 700ms linear;
  -o-transition: opacity 700ms linear;
  transition: opacity 700ms linear;
}
.stack-image-2 img {
  /* position:absolute; */
  /* left: 0; */
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 700ms linear;
  -moz-transition: opacity 700ms linear;
  -o-transition: opacity 700ms linear;
  transition: opacity 700ms linear;
}
.stack-image .bottom-image,
.stack-image-2 .bottom-image {
  opacity: 0;
}
.stack-image .top-image,
.stack-image-2 .top-image {
  opacity: 1;
}
.form-contact {
  width: 100%;
  text-align: left;
  color: #ffebcd;
  padding: 1rem 2rem;
  border: 1px solid #533102;
  position: relative;
  top: 20px;
}
.coming-soon {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 35px;
}
/* media query */
@media screen and (max-width: 768px) {
  .stack-image-2 img {
    left: 0;
  }
  .stack-image-2 img {
    left: 0;
  }
  .form-contact {
    top: 0;
  }
  .section-wrap {
    height: 100vh;
  }
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
</style>
