<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand d-lg-none" href="#">Sitti Patahuddin</a>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-collapse is-nav id="nav_collapse">
      <template v-if="isSearchPage == 1">
        <ul
          class="navbar-nav mr-auto"
          id="nav-wrap"
          ref="nav"
          v-scroll-spy-active="{ selector: 'li.nav-item' }"
          v-scroll-spy-link
        >
          <li class="nav-item">
            <a class="nav-link red-text" href="#">
              <font-awesome-icon icon="home"></font-awesome-icon>
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link red-text" href="#" v-if="currentLang == 'EN'">Profile</a>
            <a class="nav-link red-text" href="#" v-if="currentLang == 'ID'">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link red-text" href="#" v-if="currentLang == 'EN'">Teaching</a>
            <a class="nav-link red-text" href="#" v-if="currentLang == 'ID'">Mengajar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link red-text" href="#" v-if="currentLang == 'EN'">Research</a>
            <a class="nav-link red-text" href="#" v-if="currentLang == 'ID'">Penelitian</a>
          </li>
          <li class="nav-item">
            <a class="nav-link red-text" href="#" v-if="currentLang == 'EN'">Publication</a>
            <a class="nav-link red-text" href="#" v-if="currentLang == 'ID'">Publikasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link red-text" href="#" v-if="currentLang == 'EN'">Presentation</a>
            <a class="nav-link red-text" href="#" v-if="currentLang == 'ID'">Presentasi</a>
          </li>
          <li class="nav-item" v-if="currentLang == 'ID'">
            <router-link class="nav-link red-text" to="cerita">Ceritaku</router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link red-text" href="#" v-if="currentLang == 'EN'">Gallery</a>
            <a class="nav-link red-text" href="#" v-if="currentLang == 'ID'">Galeri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link red-text" href="#" v-if="currentLang == 'EN'">Contact</a>
            <a class="nav-link red-text" href="#" v-if="currentLang == 'ID'">Kontak</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <Search2 />
          </li>
          <li class="nav-item" style="position: relative">
            <select v-model="currentLang" class="custom-select bg-dark">
              <option value="EN">English</option>
              <option value="ID">Indonesia</option>
            </select>
          </li>
        </ul>
      </template>
      <template v-if="isSearchPage == 0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link to="/" class="nav-link red-text">
              <font-awesome-icon icon="home"></font-awesome-icon>
            </router-link>
          </li>
        </ul>
      </template>
    </b-collapse>
  </nav>
</template>

<script>
// import Search from './Search.vue'
import Search2 from "./Search2.vue";
import { BNavbarToggle } from "bootstrap-vue";
// collpase
import { BCollapse } from "bootstrap-vue";
import { BDropdown } from "bootstrap-vue";
import { BDropdownItem } from "bootstrap-vue";
export default {
  name: "NavBar",
  components: {
    Search2,
    "b-collapse": BCollapse,
    "b-navbar-toggle": BNavbarToggle,
    "b-dropdown": BDropdown,
    "b-dropdown-item": BDropdownItem
  },
  created: function() {
    // this.checkRoute();
    // var MenuSpy = require('menuspy');
    // var a = this.$refs.nav;
    // var ms = new MenuSpy(a,{
    //   enableLocationHash: false
    // })
  },
  props: ["isSearchPage", "lang"],
  data: function() {
    return {
      currentLang: this.lang
    };
  },
  watch: {
    currentLang: function(val) {
      this.$emit("lang-change", val);
    }
  },
  methods: {}
};
</script>

<style>
.navbar-nav .nav-link.red-text {
  transition: 0.3s ease-in-out;
}
.navbar-nav .nav-link.red-text:hover {
  color: red;
}
.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
/* dropdown */
.navbar-toggle-dropdown {
  background-color: transparent;
  border: none;
  transition: 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.5);
}
.navbar-toggle-dropdown:hover,
.navbar-toggle-dropdown:active {
  background-color: transparent;
  color: red;
}
.navbar-menu-dropdown {
  background-color: #343a40 !important;
  color: rgba(255, 255, 255, 0.5);
}
.navbar-menu-dropdown .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-menu-dropdown .dropdown-item:focus,
.navbar-menu-dropdown .dropdown-item:hover {
  background-color: #343a40;
  color: white;
}
/* select option */
.nav-item .custom-select {
  position: relative;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  background: #fff url("./dropdown.svg") no-repeat right 0.75rem center;
  cursor: pointer;
  /* background: transparent; */
}
</style>
