<template>
  <div id="presentation" class="section-wrap" :class="dekstopHeight">
    <div class data-aos="fade-up" data-aos-id="presentation" data-aos-once="true">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 order-md-2 stack-image align-self-top" :style="presentation.imgWrap">
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Presentation"
              :class="{hide: presentation.isHide,}"
              src="@/assets/img/Presentation_color.png"
            >
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Presentation"
              :class="{show: presentation.isShow}"
              src="@/assets/img/Presentation_bw.png"
            >
          </div>
          <div class="col-12 col-md-6 order-md-1 align-self-center" style="padding-left: 0">
            <h3
              class="white-text section-header"
              data-aos="fade-up"
              :data-aos-delay="presentationHeaderTime"
              data-aos-once="true"
            >
              <span v-show="lang == 'EN'">Presentation</span>
              <span v-show="lang == 'ID'">Presentasi</span>
            </h3>
            <div
              class="col-xs-12 white-text text-justify"
              :class="{'section-body-2': !isMobile, 'section-body-2-mobile': isMobile}"
              data-aos="fade-up"
              :data-aos-delay="presentationContentTime"
              data-aos-once="true"
            >
              <ol class="list-presentation">
                <li v-for="data in presentation.common" :key="data.id_presentation">
                  <template v-if="lang == 'EN'">
                    <p v-html="data.text_presentation"></p>
                  </template>
                  <template v-else-if="lang == 'ID'">
                    <p v-html="data.text_presentation_2"></p>
                  </template>
                </li>
              </ol>
              <h3 class="white-text text-center">Keynote Presentation</h3>
              <ol class="list-presentation">
                <li v-for="data in presentation.keynote" :key="data.id_presentation">
                  <template v-if="lang == 'EN'">
                    <p v-html="data.text_presentation"></p>
                  </template>
                  <template v-else-if="lang == 'ID'">
                    <p v-html="data.text_presentation_2"></p>
                  </template>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PresentationSection",
  props: ["data", "lang"],
  data() {
    return {
      presentation: this.data
    };
  },
  computed: {
    isMobile(){
      return this.$mq == 'sm'
    },
    presentationHeaderTime() {
      return !this.isMobile ? 1000 : 2200;
    },
    presentationContentTime() {
      return !this.isMobile ? 1300 : 2300;
    },
    dekstopHeight(){
      var temp = {};
      if(this.$mq != 'sm'){
        temp = {
          'd-flex': true,
          'align-items-center': true,
          'justify-content-center': true
        }
      }
      return temp
    }
  },
  watch: {},
  created: function() {
    document.addEventListener("aos:in:presentation", () => {
      console.log("masuk presentation.");
      var self = this;
      setTimeout(function() {
        self.presentation.isHide = true;
        self.presentation.isShow = true;
      }, 700);
      // tampilkan animasi foto sebentar
      if (self.$mq == "sm" || self.$mq == "md") {
        setTimeout(function() {
          self.presentation.imgWrap = {
            opacity: 0
          };
        }, 1700);
        setTimeout(function() {
          self.presentation.imgWrap = {
            display: "none"
          };
        }, 2400);
      }
    });
    document.addEventListener("aos:out:presentation", () => {
      var self = this;
      setTimeout(function() {
        self.presentation.isHide = false;
        self.presentation.isShow = false;
      }, 700);
    });
  },
  mounted: function() {},
  destroyed: function() {},
  methods: {}
};
</script>

<style>
/* media query */
@media screen and (max-width: 768px) {
  .list-presentation{
    padding-left: 20px;
  }
}
</style>
