<template>
  <div id="profile" class="section-wrap" :class="dekstopHeight">
    <div data-aos-id="profile" data-aos="fade-up" data-aos-once="true">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-md-6 order-md-2 stack-image align-self-top"
            :style="profile.imgWrap"
          >
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Profile"
              :class="{hide: profile.isHide}"
              src="@/assets/img/Profile_color.png"
            >
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Profile"
              :class="{show: profile.isShow}"
              src="@/assets/img/Profile_bw.png"
            >
          </div>
          <div class="col-12 col-md-6 order-md-1 align-self-center">
            <h3
              class="white-text section-header"
              data-aos="fade-up"
              :data-aos-delay="profileHeaderTime"
              data-aos-once="true"
            >
              <span v-show="lang == 'EN'">Profile</span>
              <span v-show="lang == 'ID'">Profil</span>
            </h3>
            <div
              class="white-text row text-justify"
              :class="{'section-body-2': !isMobile, 'section-body-2-mobile': isMobile}"
              data-aos="fade-up"
              :data-aos-delay="profileContentTime"
              data-aos-once="true"
            >
              <div
                class="paragraph-content"
                v-show="lang == 'EN'"
                v-html="profile.content.text_profile"
              ></div>
              <div
                class="paragraph-content"
                v-show="lang == 'ID'"
                v-html="profile.content.text_profile_2"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProfileSection",
  props: ['data','lang'],
  data() {
    return {
      profile: this.data
    };
  },
  computed: {
    isMobile(){
      return this.$mq == 'sm'
    },
    profileHeaderTime(){
      return !this.isMobile ? 1000 : 2200
    },
    profileContentTime(){
      return !this.isMobile ? 1300 : 2300
    },
    dekstopHeight(){
      var temp = {};
      if(!this.isMobile){
        temp = {
          'd-flex': true,
          'align-items-center': true,
          'justify-content-center': true
        }
      }
      return temp
    }
  },
  watch: {},
  created: function() {
    document.addEventListener('aos:in:profile', () => {
      console.log("masuk profile");
      var self = this;
      setTimeout(function(){          
        self.profile.isHide = true;
        self.profile.isShow = true;
      },700)
      // tampilkan animasi foto sebentar 
      if(self.$mq == 'sm' || self.$mq == 'md'){
        setTimeout(function(){
          self.profile.imgWrap = {
            opacity: 0
          }
        },1700)
        setTimeout(function(){          
          self.profile.imgWrap = {
            display: 'none'
          }
        },2400)
      }
    });
    document.addEventListener('aos:out:profile', () => {
      var self = this;
      setTimeout(function(){
        self.profile.isHide = false;
        self.profile.isShow = false;
      },700)
    });
  },
  mounted: function() {},
  destroyed: function() {},
  methods: {}
};
</script>

<style>
</style>
