<template>
  <div id="publication" class="section-wrap" :class="dekstopHeight">
    <div class data-aos="fade-up" data-aos-id="publication" data-aos-once="true">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 stack-image-2 align-self-top" :style="publication.imgWrap">
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Publication"
              :class="{hide: publication.isHide }"
              src="@/assets/img/Publication_color.png"
            />
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Publication"
              :class="{show: publication.isShow }"
              src="@/assets/img/Publication_bw.png"
            />
          </div>
          <div class="col-12 col-md-6 align-self-center" :style="timer">
            <h3
              class="white-text section-header"
              data-aos="fade-up"
              :data-aos-delay="publicationHeaderTime"
              data-aos-once="true"
            >
              <span v-show="lang == 'EN'">Publication</span>
              <span v-show="lang == 'ID'">Publikasi</span>
            </h3>
            <div>
              <b-tabs class="section-tab">
                <!-- tab 1 -->
                <b-tab title="Journal Articles" active>
                  <ol
                    class="white-text text-justify"
                    :class="{'section-body': !isMobile, 'section-body-mobile': isMobile}"
                    data-aos="fade-up"
                    :data-aos-delay="publicationContentTime"
                    data-aos-once="true"
                  >
                    <li v-for="data in publication.journal" :key="data.id_publication">
                      <template v-if="lang == 'EN'">
                        <p v-html="data.text_publication"></p>
                      </template>
                      <template v-else-if="lang == 'ID'">
                        <p v-html="data.text_publication_2"></p>
                      </template>
                    </li>
                  </ol>
                </b-tab>
                <!-- tab 2 -->
                <b-tab title="Books">
                  <ol
                    class="white-text text-justify"
                    :class="{'section-body': !isMobile, 'section-body-mobile': isMobile}"
                    data-aos="fade-up"
                    :data-aos-delay="publicationContentTime"
                    data-aos-once="true"
                  >
                    <li v-for="data in publication.book" :key="data.id_publication">
                      <template v-if="lang == 'EN'">
                        <p v-html="data.text_publication"></p>
                      </template>
                      <template v-else-if="lang == 'ID'">
                        <p v-html="data.text_publication_2"></p>
                      </template>
                    </li>
                  </ol>
                </b-tab>
                <!-- tab 3 -->
                <b-tab title="Conference Proceedings">
                  <ol
                    class="white-text text-justify"
                    :class="{'section-body': !isMobile, 'section-body-mobile': isMobile}"
                    data-aos="fade-up"
                    :data-aos-delay="publicationContentTime"
                    data-aos-once="true"
                  >
                    <li v-for="data in publication.conference" :key="data.id_publication">
                      <template v-if="lang == 'EN'">
                        <p v-html="data.text_publication"></p>
                      </template>
                      <template v-else-if="lang == 'ID'">
                        <p v-html="data.text_publication_2"></p>
                      </template>
                    </li>
                  </ol>
                </b-tab>
              </b-tabs>
              <!-- abstract popup -->
              <b-popover
                v-if="popUpInit"
                :show.sync="popUpShow"
                :target="popUpId"
                triggers="hover focus"
                placement="bottom"
                @show="popUpOnShow"
                @shown="popUpOnShown"
                @hide="popUpOnHide"
                @hidden="popUpOnHidden"
              >
                <template slot="title">
                  <button @click="onClose" class="close" aria-label="Close">
                    <span class="d-inline-block" aria-hidden="true">&times;</span>
                  </button>
                  Abstract
                </template>
                <div v-html="popUpContent"></div>
              </b-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { BTabs } from "bootstrap-vue";
import { BTab } from "bootstrap-vue";
import { BPopover } from "bootstrap-vue";
export default {
  name: "PublicationSection",
  components: {
    BTabs,
    BTab,
    BPopover
  },
  props: ["data", "lang"],
  data: function() {
    return {
      popUpInit: false,
      popUpId: undefined,
      popUpContent: undefined,
      popUpShow: false,
      publication: this.data,
      timer: {
        opacity: 0
      }
    };
  },
  computed: {
    isMobile() {
      return this.$mq == "sm";
    },
    publicationHeaderTime() {
      return !this.isMobile ? 1000 : 2200;
    },
    publicationContentTime() {
      return !this.isMobile ? 1300 : 2300;
    },
    dekstopHeight() {
      var temp = {};
      if (!this.isMobile) {
        temp = {
          "d-flex": true,
          "align-items-center": true,
          "justify-content-center": true
        };
      }
      return temp;
    }
  },
  methods: {
    showpopUp(elm, data) {
      setTimeout(() => {
        this.popUpId = elm;
        this.popUpContent =
          this.lang == "EN"
            ? data.abstract_publication
            : data.abstract_publication_2;
        if (
          data.abstract_publication != null ||
          data.abstract_publication_2 != null
        ) {
          this.popUpInit = true;
          this.popUpShow = true;
        }
      }, 500);
    },
    onClose() {
      this.popUpInit = false;
    },
    popUpOnShow(args) {},
    popUpOnShown() {},
    popUpOnHide(args) {
      args.preventDefault();
    },
    popUpOnHidden() {
      this.popUpInit = false;
    }
  },
  created: function() {
    document.addEventListener("aos:in:publication", () => {
      console.log("masuk publication");
      var self = this;
      if (this.$mq == "sm") {
        setTimeout(function() {
          self.timer = {
            opacity: 1
          };
        }, 2300);
      } else {
        setTimeout(function() {
          self.timer = {
            opacity: 1
          };
        }, 700);
      }
      setTimeout(function() {
        self.publication.isHide = true;
        self.publication.isShow = true;
      }, 700);
      // tampilkan animasi foto sebentar
      if (self.$mq == "sm" || self.$mq == "md") {
        setTimeout(function() {
          self.publication.imgWrap = {
            opacity: 0
          };
        }, 1700);
        setTimeout(function() {
          self.publication.imgWrap = {
            display: "none"
          };
        }, 2400);
      }
    });
    document.addEventListener("aos:out:publication", () => {
      var self = this;
      setTimeout(function() {
        self.publication.isHide = false;
        self.publication.isShow = false;
      }, 700);
    });
  },
  mounted: function() {}
};
</script>

<style>
.section-body {
  padding-bottom: 2rem;
}
.section-tab .nav {
  justify-content: center;
  border-bottom: none;
}
.section-tab .nav a.nav-link {
  color: #495057;
  font-size: 0.9rem;
}
/* .section-body-mobile-bubu{
  height: 70vh;
  overflow-y: scroll;
  padding-right: 20px;
  padding-left: 20px;
} */
.section-tab .nav a.nav-link:hover {
  border: none;
  color: white;
}
.section-tab .nav a.nav-link.active {
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid white;
}
.section-tab .tab-content {
  padding-top: 15px;
}
</style>
