<template>
  <div id="research" class="section-wrap" :class="dekstopHeight">
    <div data-aos-id="research" data-aos="fade-up" data-aos-once="true">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 order-md-2 stack-image align-self-top" :style="research.imgWrap">
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Research"
              :class="{hide: research.isHide}"
              src="@/assets/img/Research_color.png"
            >
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Research"
              :class="{show: research.isShow}"
              src="@/assets/img/Research_bw.png"
            >
          </div>
          <div class="col-12 col-md-6 order-md-1 align-self-center">
            <h3
              class="white-text section-header"
              data-aos="fade-up"
              :data-aos-delay="researchHeaderTime"
              data-aos-once="true"
            >
              <span v-show="lang == 'EN'">RESEARCH & PROJECT EXPERIENCE</span>
              <span v-show="lang == 'ID'">Penelitian & Pengalaman Projek</span>
            </h3>
            <div
              class="white-text row"
              :class="{'section-body-2': !isMobile, 'section-body-2-mobile': isMobile}"
              data-aos="fade-up"
              :data-aos-delay="researchContentTime"
              data-aos-once="true"
            >
              <!-- Research in Australia -->
              <div class="col-md-12">
                <h3 class="white-text text-center">Australia</h3>
              </div>
              <div
                class="row"
                v-for="data in research.australia"
                :key="data.id_research"
              >
                <div class="col-12 col-md-3 text-justify">
                  <span>{{ data.year_research }}</span>
                </div>
                <div class="col-12 col-md-9 text-justify">
                  <template v-if="lang == 'EN'">
                    <p v-html="data.text_research"></p>
                  </template>
                  <template v-else-if="lang == 'ID'">
                    <p v-html="data.text_research_2"></p>
                  </template>
                </div>
              </div>
              <!-- Research in Indoensia -->
              <div class="col-md-12">
                <h3 class="white-text text-center">Indonesia</h3>
              </div>
              <div
                class="row"
                v-for="data in research.indonesia"
                :key="data.id_research"
              >
                <div class="col-12 col-md-3 text-justify">
                  <span>{{ data.year_research }}</span>
                </div>
                <div class="col-12 col-md-9 text-justify">
                  <template v-if="lang == 'EN'">
                    <p v-html="data.text_research"></p>
                  </template>
                  <template v-else-if="lang == 'ID'">
                    <p v-html="data.text_research_2"></p>
                    <br>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ResearchSection",
  props: ["data", "lang"],
  data() {
    return {
      research: this.data
    };
  },
  computed: {
    isMobile(){
      return this.$mq == 'sm'
    },
    researchHeaderTime() {
      return !this.isMobile ? 1000 : 2200;
    },
    researchContentTime() {
      return !this.isMobile ? 1300 : 2300;
    },
    dekstopHeight(){
      var temp = {};
      if(!this.isMobile){
        temp = {
          'd-flex': true,
          'align-items-center': true,
          'justify-content-center': true
        }
      }
      return temp
    }
  },
  watch: {},
  created: function() {
    document.addEventListener("aos:in:research", () => {
      console.log("masuk research.");
      var self = this;
      setTimeout(function() {
        self.research.isHide = true;
        self.research.isShow = true;
      }, 700);
      // tampilkan animasi foto sebentar
      if (self.$mq == "sm" || self.$mq == "md") {
        setTimeout(function() {
          self.research.imgWrap = {
            opacity: 0
          };
        }, 1700);
        setTimeout(function() {
          self.research.imgWrap = {
            display: "none"
          };
        }, 2400);
      }
    });
    document.addEventListener("aos:out:research", () => {
      var self = this;
      setTimeout(function() {
        self.research.isHide = false;
        self.research.isShow = false;
      }, 700);
    });
  },
  mounted: function() {},
  destroyed: function() {},
  methods: {}
};
</script>

<style>
</style>
