<template>
  <form action class="input-search" @submit.prevent="onSubmit">
    <div class="form-group has-feedback" :class="{expand: isExpand}" @mouseover="hoverChange(true)" @mouseleave="hoverChange(false)">
      <label for="search" class="sr-only">Search</label>
      <input type="text" class="form-control" id="search" placeholder="search" v-model="searchString">
      <span class="form-control-feedback">
        <font-awesome-icon icon="search"></font-awesome-icon>
      </span>
    </div>
  </form>
</template>

<script>
export default {
  name: "Search2",
  data: function(){
    return {
      expand: '',
      searchString: '',
      onHover: '',
      temp: '',
      isExpand: '',
    }
  },
  watch: {
    onHover: 'new',
    searchString: 'new'
  },
  methods: {
    hoverChange: function(param){
      this.temp = param;
      this.onHover = param;
    },
    new: function(){
      if(this.onHover == true){
        // console.log('ke hover');
        this.isExpand = true;
      }
      else{
        // console.log('gak hover');
        if(this.searchString != ''){
          this.isExpand = true;
        }
        else{
          this.isExpand = false;
        }        
      }      
    },
    onSubmit: function(){
      this.$router.push({ path: 'search', query: { string: this.searchString } })
    }
  }
};
</script>

<style>
.input-search .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  /* border-radius: 25px; */
  border: 1px solid #ccc;
  margin: 0;
  position: relative;
}
.input-search .form-group input.form-control {
  padding-top: 0;
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
  color: white;
}
.input-search .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.input-search .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.input-search .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.input-search .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.expand{
  width: 100% !important;
  /* border-radius: 4px 25px 25px 4px !important; */
}
.input-search .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: rgba(255,255,255,.5);
  /* color: #3596e0; */
  left: initial;
  font-size: 14px;
}
</style>
