<template>
  <div class="search-page">
    <NavBar isSearchPage="0" />
    <div class="container">
      <div class="row py-5">
        <div class="col-md-4 col-md-offset-8">
          <form class="search-form" v-on:submit.prevent="search">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <input
                type="text"
                class="form-control"
                id="search"
                placeholder="search"
                v-model="searchString"
                @keyup="search"
              />
              <span class="form-control-feedback">
                <font-awesome-icon icon="search"></font-awesome-icon>
              </span>
            </div>
          </form>
          <div class="text-left text-white" v-if="loading == true">
            <span>Searching</span>
            <font-awesome-icon icon="spinner" spin />
          </div>
        </div>
      </div>

      <div class="row py-1">
        <div class="col-12" v-if="loading == false">
          <b-tabs class="search-section-tab" v-model="activeTab">
            <!-- Tab Teaching -->
            <b-tab>
              <template slot="title">
                <span>Teaching</span>
                <span class="badge badge-light ml-1">0</span>
              </template>
              <ul class="list-group text-left">
                <li class="list-group-item">No Data Found</li>
              </ul>
            </b-tab>
            <!-- Tab Reasearch -->
            <b-tab>
              <template slot="title">
                <span>Research</span>
                <span
                  class="badge ml-1"
                  :class="[
                    researchResult.length > 0 ? 'badge-primary' : 'badge-light',
                  ]"
                  >{{ researchResult.length }}</span
                >
              </template>
              <template>
                <ul class="list-group text-left">
                  <!-- if data kosong -->
                  <template v-if="researchResult.length == 0">
                    <li class="list-group-item">No Data Found</li>
                  </template>
                  <!-- data tidak kosong -->
                  <template v-else>
                    <li
                      class="list-group-item"
                      v-for="item in researchResult"
                      :key="item.id_research"
                    >
                      <search-item
                        :string="item.text_research"
                        :keyword="searchString"
                      ></search-item>
                    </li>
                  </template>
                </ul>
              </template>
            </b-tab>
            <!-- Tab Publication -->
            <b-tab :title-link-class="{ update_trigger_hack: dummyData }">
              <template slot="title">
                <span>Pulication</span>
                <span
                  class="badge ml-1"
                  :class="[
                    publicationResult.length > 0
                      ? 'badge-primary'
                      : 'badge-light',
                  ]"
                  >{{ publicationResult.length }}</span
                >
              </template>
              <ul class="list-group text-left">
                <!-- if data kosong -->
                <template v-if="publicationResult.length == 0">
                  <li class="list-group-item">No Data Found</li>
                </template>
                <!-- data tidak kosong -->
                <template v-else>
                  <li
                    class="list-group-item"
                    v-for="item in publicationResult"
                    :key="item.id_publication"
                  >
                    <search-item
                      :string="item.text_publication"
                      :keyword="searchString"
                    ></search-item>
                  </li>
                </template>
              </ul>
            </b-tab>
            <!-- Tab Presentaion -->
            <b-tab>
              <template slot="title">
                <span>Presentation</span>
                <span
                  class="badge ml-1"
                  :class="[
                    presentationResult.length > 0
                      ? 'badge-primary'
                      : 'badge-light',
                  ]"
                  >{{ presentationResult.length }}</span
                >
              </template>
              <ul class="list-group text-left">
                <!-- if data kosong -->
                <template v-if="presentationResult.length == 0">
                  <li class="list-group-item">No Data Found</li>
                </template>
                <!-- data tidak kosong -->
                <template v-else>
                  <li
                    class="list-group-item"
                    v-for="item in presentationResult"
                    :key="item.id_presentation"
                  >
                    <search-item
                      :string="item.text_presentation"
                      :keyword="searchString"
                    ></search-item>
                  </li>
                </template>
              </ul>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import debounce from "lodash.debounce";
import NavBar from "./NavBar.vue";
import { BTabs } from "bootstrap-vue";
import { BTab } from "bootstrap-vue";
import SearchItem from "./SearchItem.vue";
export default {
  name: "SearchPage",
  data: function() {
    return {
      activeTab: 0,
      searchString: this.$route.query.string,
      publicationResult: [],
      presentationResult: [],
      researchResult: [],
      loading: true,
      dummyData: false,
    };
  },
  methods: {
    search() {
      this.loading = true;
      this.fetchSearch();
    },
    fetchSearch: debounce(function() {
      var self = this;
      var searchUrl =
        process.env.VUE_APP_API_END_POINT + "/search/" + this.searchString;
      // "http://localhost/sitipad-backend/search/" + this.searchString;
      // hack solution for tab bug
      this.dummyData = true;
      fetch(searchUrl)
        .then(function(response) {
          return response.json();
        })
        .then(function(json) {
          self.publicationResult = json.publication;
          self.presentationResult = json.presentation;
          self.researchResult = json.research;
          self.loading = false;
        });
    }, 500),
  },
  components: {
    NavBar,
    SearchItem,
    BTabs,
    BTab,
  },
  created() {
    this.search();
  },
  beforeRouteUpdate(to, from, next) {
    console.log("ganti");
  },
};
</script>

<style>
.search-section-tab {
  margin-bottom: 1rem;
}
.search-section-tab .nav-tabs {
  border-bottom: 1px solid #4f5255;
}
.search-section-tab .nav a.nav-link {
  color: #4f5255;
  font-size: 0.9rem;
}
.search-section-tab .nav a.nav-link:hover {
  border: none;
  color: white;
}
.search-section-tab .nav a.nav-link.active {
  color: white;
  background: none;
  border: none;
  border-bottom: 1px solid white;
}
.search-section-tab .tab-content {
  padding-top: 15px;
}
.search-page {
  background: #252525;
  min-height: 100%;
}
.search-form .form-group {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  /* border-radius: 25px; */
  border: 1px solid #ccc;
  margin: 0;
  position: relative;
}
.search-form .form-group input.form-control {
  padding-top: 0;
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display: block;
  color: white;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
/* .search-form .form-group:hover{
  width: 100%;
  border-radius: 4px 25px 25px 4px;
} */
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: white;
  /* color: #3596e0; */
  left: initial;
  font-size: 14px;
}
</style>
