<template>
<div class="flexbox">
  <div class="search">
    <div>
      <input type="text" placeholder="       Search . . ." required>
    </div>
  </div>
</div>
</template>

<script>
export default {
name: 'Search',
}
</script>

<style scoped>
.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: rgba(255,255,255,.6);
  width: 4px;
  height: 10px;
  position: absolute;
  top: 18px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 1rem;
  background: transparent;
  width: 5px;
  height: 5px;
  padding: 6px;  
  border: solid 3px rgba(255,255,255,.6);
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  width: 250px;
}
</style>
