<template>
  <div v-html="highlight"></div>
</template>

<script>
export default {
  name: 'SearchItem',
  props: ['string','keyword'],
  data(){
    return{
      searchQuery: this.keyword,
    }
  },
  computed: {
    regex(){
      return new RegExp(this.searchQuery, "ig");
    },
    regexResult(){
      return `<span class="text-yellow">${this.searchQuery}</span>`;
    },
    highlight(){
      return this.string.replace(this.regex,this.regexResult);
    }
  }
}
</script>

<style>
.text-yellow{
  background-color: orange;
  color: white;
}
</style>
