<template>
  <div id="teaching" class="section-wrap" :class="dekstopHeight">
    <div data-aos-id="teaching" data-aos="fade-up" data-aos-once="true">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 stack-image-2 align-self-top" :style="teaching.imgWrap">
            <img
              class="top-image img-fluid"
              alt="Sitti Patahuddin Teaching"
              :class="{hide: teaching.isHide}"
              src="@/assets/img/Teaching_clr.png"
            >
            <img
              class="bottom-image img-fluid"
              alt="Sitti Patahuddin Teaching"
              :class="{show: teaching.isShow}"
              src="@/assets/img/Teaching_bw.png"
            >
          </div>
          <div class="col-12 col-md-6 align-self-center">
            <h3
              class="white-text section-header"
              data-aos="fade-up"
              :data-aos-delay="teachingHeaderTime"
              data-aos-once="true"
            >
              <span v-show="lang == 'EN'">Teaching</span>
              <span v-show="lang == 'ID'">Mengajar</span>
            </h3>
            <div
              class="white-text row text-justify"
              :class="{'section-body-2': !isMobile, 'section-body-2-mobile': isMobile}"
              data-aos="fade-up"
              :data-aos-delay="teachingContentTime"
              data-aos-once="true"
            >
              <div
                class="paragraph-content"
                v-show="lang == 'EN'"
                v-html="teaching.content.text_teaching"
              ></div>
              <div
                class="paragraph-content"
                v-show="lang == 'ID'"
                v-html="teaching.content.text_teaching_2"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TeachingSection",
  props: ["data", "lang"],
  data() {
    return {
      teaching: this.data
    };
  },
  computed: {
    isMobile(){
      return this.$mq == 'sm'
    },
    teachingHeaderTime(){
      return !this.isMobile ? 1000 : 2200
    },
    teachingContentTime(){
      return !this.isMobile ? 1300 : 2300
    },
    dekstopHeight(){
      var temp = {};
      if(!this.isMobile){
        temp = {
          'd-flex': true,
          'align-items-center': true,
          'justify-content-center': true
        }
      }
      return temp
    }
  },
  watch: {},
  created: function() {
    document.addEventListener("aos:in:teaching", () => {
      console.log("masuk teaching.");
      var self = this;
      setTimeout(function() {
        self.teaching.isHide = true;
        self.teaching.isShow = true;
      }, 700);
      // tampilkan animasi foto sebentar
      if (self.$mq == "sm" || self.$mq == "md") {
        setTimeout(function() {
          self.teaching.imgWrap = {
            opacity: 0
          };
        }, 1700);
        setTimeout(function() {
          self.teaching.imgWrap = {
            display: "none"
          };
        }, 2400);
      }
    });
    document.addEventListener("aos:out:teaching", () => {
      var self = this;
      setTimeout(function() {
        self.teaching.isHide = false;
        self.teaching.isShow = false;
      }, 700);
    });
  },
  mounted: function() {},
  destroyed: function() {},
  methods: {}
};
</script>

<style>
</style>
