<template>
  <div id="app">
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "app",
  components: {
    // NavBar
  },
  watch: {
    $route: function(to, from) {
      if (to.name == "home" && from.name != null) {
        console.log("ini masuk ke home");
        location.reload();
      }
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Poppins:700|Libre+Baskerville:italic|Noto+Serif+SC:400");
html,
body,
#app {
  height: 100%;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
/* helper-class */
.white-text {
  color: white;
}
.no-left {
  left: 0;
}
.bg-dark {
  background-color: #000000 !important;
}
.hide {
  opacity: 0 !important;
}
.show {
  opacity: 1 !important;
}
/* end helper class */
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
</style>
